[2019-11-29 12:52] Robinmcgvr opened #1 "DEFUNCT KAPOW SITES"
THE FOLLOWING SITES ARE CURRENTLY DEFUNCT

1) KOREA - ch.interest.me, cjmedia.co.kr
The above sites have ceased working , so there is no data downloading into Kapow

[2019-11-29 14:23] Robinmcgvr commented on #1
Doesn't affect scheduling I know - but inputters may use this as a resource

[2019-11-29 14:25] Robinmcgvr commented on #1
Indonesia Rcti.tv is also defunct

[2019-12-04 10:21] Robinmcgvr opened #2 "LOST KAPOW DATA"
We have lost data from SKY.IT covering 28/11/2019 to 02/12/2019 -this is not recoverable

Hopefully we can find data for the channel TMC2 elsewhere.

[2019-12-11 13:40] Lynne12 commented on #2
3-9 December is also missing.

[2019-12-11 13:56] Robinmcgvr commented on #2
Thanks this is in Matteo's hands and he says he has recovered data, so I am waiting to hear back from him on this

[2019-12-13 13:08] Robinmcgvr commented on #2
re. sky.it , although a pain to be missing data for checking and other purposes - we are going to drop channel Italy TMC2 (MTV) from 01/01/2020 , so missing these days of it won't matter.

[2019-12-13 17:24] Robinmcgvr opened #3 "Australia foxtel.com.au"
We still have some gaps in the data for foxtel.com , luckily foxclassics.com is ok.
We can use data from that site for scheduling and may be worth switching to this source permanently.

[2019-12-13 17:25] Robinmcgvr commented on #3
data is missing from 9-25 november , 27 nov to 2 december and 4th to 10th december

[2019-12-13 17:28] Robinmcgvr commented on #3
n.b. data for new fox channels can also be found in yourtv.com.au (under sydney fox in kapow, but channels listed in kablam)

[2019-12-16 10:29] Lynne12 commented on #3
November data has already been scheduled, filling gaps from Foxclassics.com

[2020-01-03 17:28] Robinmcgvr opened #4 "TELECLUB"
Teleclub.ch site has failed for dates 20-25 dec
Channel is available via tele.ch for manual processing

[2020-01-06 11:18] Lynne12 commented on #2
@Robinmcgvr can you confirm that Italy TMC2 (MTV) has now been dropped?

[2020-01-06 11:37] Robinmcgvr commented on #2
@Lynne12
Just waiting confirmation from JB but am 80 % sure we are

[2020-01-06 11:42] Lynne12 commented on #4
Duly noted

[2020-01-06 12:11] Robinmcgvr commented on #2
@Lynne12
That is now confirmed

[2020-01-06 12:14] Lynne12 commented on #2
Thanks Robin

[2020-01-06 12:14] #2 closed, assigned to Lynne12, JonathanETS, Robinmcgvr

[2020-01-07 09:54] #3 closed, assigned to Lynne12, JonathanETS, Robinmcgvr

[2020-01-24 11:27] Lynne12 commented on #4
Teleclub.ch is missing for the week 14-20 Jan 2020

[2020-01-24 12:38] Robinmcgvr commented on #4
Yes I am aware, it has been reported

[2020-01-24 12:38] Robinmcgvr commented on #4
We have the alternative source we set up some months back , we will have to use it

[2020-01-24 12:55] Robinmcgvr commented on #4
Tele.ch is your alternative

[2020-01-24 14:07] Robinmcgvr commented on #4
A lot of data didn't download yesterday, it looks like the auto -retry has worked and the data is there (pulled today instead) BUT this does mean there could be some potential issues with data for the 23rd Jan - I will try and check these over - to see if all required channels are there

[2020-01-27 10:56] Robinmcgvr opened #5 "23rd Jan missing data"
re. the Kapow download failure on 23rd Jan ...
This does not look so bad now - we are probably only missing loading data for the following:
Germany - Regional channels (BR, HBB etc) - some could be available via prisma.de
Belgium - vijf (may yet turn up on of our other sites)
NZ- NKSM (Movies Premieres HD)

Some channels are available via alternative sites and may have to be worked on direct from

[2020-01-29 09:53] Lynne12 commented on #5
I have just downloaded the online scheduling files for the week of 21-27 January and the following have 23rd missing:-
Belgium-moustique.be
Germany-tvtv.de (mentioned above)
Romania-a1.ro
Serbia-tvprofil.com

[2020-01-29 10:01] Robinmcgvr commented on #5
Yes these will have to be dealt with manually - the belgian channels BE1, plug-RTL are available from programme-tv.net  (via website or I have printouts)
Same for channel AB3
The German channels may be available via prisma downloads, accessible from either kapow or kablam (at least some are)
A1 Romania is available via programtv.ele.ro

[2020-01-29 10:57] Robinmcgvr commented on #5
ah yes earlier issue we had with Prisma.de has not been resolved/fixed - so that is a pain, will see if I can find data for those channels elsewhere and get back to you

[2020-01-31 17:16] Robinmcgvr commented on #4
We are now only missing 13-19 Jan - but will still need to use the alternative source.

[2020-02-03 10:49] Robinmcgvr opened #6 "3 Plus Switzerland"
This site is failing again - data lost from 27th Jan to 3rd Feb - we may have to switch to the alternative source on a more permanent basis - tele.ch

[2020-02-05 13:27] Lynne12 commented on #6
@Robinmcgvr will instruct Richard to switch the loading site.

[2020-02-07 17:00] Robinmcgvr opened #7 "HK now-tv.com"
We currently have data missing from beginning of Feb for this site - hopefully Matteo will be able to recover it.
Or we may need to look for alternative source.

[2020-02-08 08:15] Lynne12 commented on #6
Loading site switched.

[2020-02-08 08:15] #6 closed, assigned to Lynne12, Robinmcgvr

[2020-02-18 14:27] Lynne12 commented on #4
Only 13-16 Jan is now missing.   Will use tele.ch for these 4 days, via manual scheduling.

[2020-02-19 11:56] Lynne12 commented on #7
@Robinmcgvr any news from Matteo on the recovery?  I am showing 11-14 February missing in the latest week of Online Scheduling.

[2020-02-19 13:41] Lynne12 commented on #5
All the countries/channels required have been manually scheduled from alternate sources.

[2020-02-24 10:26] Robinmcgvr commented on #7
Unfortunately it was not possible to recover this data - which means there is a gap all the way from 3rd to 14rh Feb

[2020-02-24 10:29] Robinmcgvr commented on #7
Fox Movies is available from foxmovies.asia which we do have downloads for

[2020-02-24 10:32] Robinmcgvr commented on #7
Also available from epg.i-cable.com - this actually covers all the channels we would normally get from now-tv.com , so that is good news

[2020-02-24 10:34] Lynne12 commented on #7
Both channels are missing 3-17th February, which is as far as I have loaded the data.

[2020-02-25 08:55] #4 closed, assigned to Lynne12, Robinmcgvr

[2020-02-25 09:03] Lynne12 commented on #7
I have asked Richard to set up the loader for the epg.i-cable.com, so I can load the data to fill the gaps in the channels.

[2020-02-25 13:11] Lynne12 commented on #7
Data loader to cover the gaps.

[2020-03-18 08:40] Lynne12 commented on #7
@Robinmcgvr reopening this, as Pavle has reported a problem with the data on STAR WORLD and STAR MOVIES.  I am liasing with Richard accordingly.

[2020-03-18 10:20] Robinmcgvr commented on #7
@Lynne12
Could you also let me know what the issue is please?

[2020-03-18 10:35] Robinmcgvr commented on #7
@Lynne12
I can confirm that the raw kapow data is all good - as is the kablam
n.b. Star Movies = Fox Movies
Star World = Fox Life
In case that is what is causing the problem, but it is more likely to be overlapping data from the two loading sources .
That may or may not be useful, but that is what I can contribute.

[2020-03-18 10:36] Lynne12 commented on #7
#914 on ETS Issues has the details.

[2020-03-20 14:17] Lynne12 opened #8 "Hungary - tvmustra.hu"
@Robinmcgvr missing dates for HBO channel, 13,14,15 March 2020

[2020-03-20 15:51] Robinmcgvr commented on #8
@Lynne12
I have already flagged those days as Missing with Matteo but looks like they weren't recoverable -so we will have to look at our other hungarian downloads , sorry

[2020-03-20 16:09] Robinmcgvr commented on #8
@Lynne12
There are downloads from hbo.hu in kapow

[2020-03-23 12:46] Lynne12 commented on #7
@Robinmcgvr data now loaded, if you wish to close this issue.

[2020-04-01 12:07] Lynne12 commented on #8
Missing dates loaded from hbo.hu

[2020-04-01 12:07] #8 closed, assigned to Robinmcgvr

[2020-04-07 07:40] Lynne12 commented on #7
@Robinmcgvr now-tv.com has been a problem for the March 2020 data, so I am now moving these channels to the epg.i-cable.com website going forwards.

[2020-04-07 10:41] #7 closed, assigned to Lynne12, JonathanETS, Robinmcgvr

[2020-04-17 08:14] Lynne12 opened #9 "Sweden - tv.nu"
@Robinmcgvr

We load the channels CSF1 (CMoreFirst), CSF2 (CMoreHits) and TV1000 (Viasat Film Premiere), from tv.nu, for online scheduling.  All 3 of these channels stopped on Kablam in the early hours of 14th March.  Is this something you have addressed with Matteo?

[2020-04-17 08:53] Robinmcgvr commented on #9
@Lynne12
Hi Lynne, no I was not aware of the issue as my checks only look to see that we are downloading from the site , it doesn't pick up if channels are missing - I will email Matteo about it now .
We can get viasat film premiere from viasat.se and the Cmore channels from tv4.se if Matteo is unable to recover the data from tv.nu
Looking at the tv.nu site, it looks like data will go back to 15/0

[2020-04-22 13:40] Lynne12 opened #10 "Romania - programtv.ele.ro"
@Robinmcgvr the above website stopped on Kablam on 10th April 2020.  Is this something yourself and Matteo are aware of?  This is used for the following Romanian channels:-
PRIMA
PROTV
TVR1
TVR2
KANALD
AXN

[2020-04-24 16:28] Robinmcgvr commented on #10
@Lynne12
Re. recovering data for programtv.ele.ro - it is not looking very promising - the url takes us to ele.ro now and there is no apparent tv guide on the site.

I have found a new site and asked Matteo to see if he can get this one to work, there will be no back data from that source though.
Good-ish news is that we have all the channels covered by individual channel sites apart from Kanal D

[2020-04-27 10:06] Lynne12 commented on #10
@Robinmcgvr can you let me know once you have worked out if there is a single replacement site, please, so that I know what date range is missing.  Manually scheduling all these channels, for the gaps will take too long, as they are not film only channels.  It may be that we have to set up all the channels to load the gaps on the online scheduling, but will wait until the final missing situation i

[2020-04-27 10:18] Robinmcgvr commented on #10
@Lynne12
Will do, I am just waiting to hear back from Matteo whether he can pull data from the new site I found.

[2020-04-27 13:19] Robinmcgvr opened #11 "Serbia - tvprofil.com"
@Lynne12

We are currently missing 21 April - 4 May from this source.
Hopefully we will be able to recover it, it was reported last week, but seems not to have been fixed yet.

[2020-04-27 13:30] #5 closed, assigned to Lynne12, JonathanETS, Robinmcgvr

[2020-04-27 13:33] Robinmcgvr commented on #9
@Lynne12

Bad news we are no longer able to grab Kanal 10, Viasat film premiere, nor the two Cmore channels, for that source - but at least we have them from the sources I mentioned previously

Sorry first version of this reply was nonsense!

[2020-04-27 13:33] Lynne12 commented on #11
@Robinmcgvr thanks for the heads up.  I will be loading that week Wed/Thurs this week, so will check then.

[2020-04-27 13:54] Lynne12 opened #12 "Netherlands - tvgids.nl"
@Robinmcgvr not sure if this has been raised with Matteo before.  Each day there is a film in the early hours of the morning, with a long duration.  When you look at an independent TV guide, rather than Kablam, this film actually shows the following day (although the time of the TV guide is an hour different in this case.  Is there anything that can be done about this from Matteo's end, as this ca

[2020-04-27 14:48] Robinmcgvr commented on #12
@Lynne12

Hi Lynne,

Hmm, that is a strange one.
I can see now that the end time is linking to the following day, so yes something is going wrong in the formatting here.
I will ask Matteo to look at what is happening here and if he can fix it fingers crossed!

[2020-04-28 07:24] Lynne12 commented on #12
@Robinmcgvr thank you.  Just to be clear the programme should be showing the day after it is appearing in Kablam, so it is the date that is actually wrong, but the fact that it is linking to the next day is then causing the long duration.

[2020-04-28 11:11] Lynne12 commented on #12
@Robinmcgvr I have manually adjusted all the March entries, but this may have been going back some time.

[2020-04-29 08:29] Lynne12 commented on #9
@Robinmcgvr thanks.  I will change the loading sources with Richard.

[2020-04-29 08:29] #9 closed, assigned to Robinmcgvr

[2020-04-29 11:22] Lynne12 opened #13 "Czech Republic - hbo.cz"
@Robinmcgvr this site is missing from 25th April 2020, used to load HBO channel.  Is Matteo aware?

[2020-04-29 11:30] Robinmcgvr commented on #13
Yes this was reported.
I am unable to @ respond to you, do you need to assign yourself?

[2020-04-29 11:31] Lynne12 commented on #13
I shouldn't need to as I created the issue.  There are others where I am not assigned.  It's @Lynne12

[2020-04-29 11:34] Robinmcgvr commented on #13
@Lynne12
dunno nothing comes up, when do @ in normal way, maybe because I am at home
I manually typed it this time,anyway you are getting the messages so that's the important thing.
This was reported last week

[2020-04-29 11:35] Robinmcgvr commented on #13
@Lynne12
Matteo is working on a lot of stuff at the moment, but I will do a bit more research into the site and whether missing data is likely to be recoverable

[2020-04-29 11:42] Robinmcgvr commented on #13
Czech site does not allow us to go back , so I have given Matteo a nudge to work on this and the Hungarian site

[2020-04-29 11:56] Robinmcgvr commented on #13
@Lynne12

It may be best to add the channel to Dawn's daily manual scheduling until we can get either the old site working again or a new one I have just sent to Matteo.

[2020-04-29 12:00] Robinmcgvr commented on #13
@Lynne12

url  = hbogo.cz/program
or mujtvprogram.cz/TV-program-HBO#page_TvProgramTimeLine

[2020-04-29 12:17] Lynne12 commented on #11
@Robinmcgvr this also applies to the Serbian channels from this website.

[2020-04-29 12:19] Robinmcgvr commented on #11
@Lynne12
Thanks both were reported to Matteo earlier this week

[2020-04-29 12:21] Robinmcgvr commented on #11
@Lynne12
Luckily we have a back up site for Serbia mojtv.net which also covers Croatia

[2020-04-29 13:36] Lynne12 opened #14 "Czech - tvprogram.nova.cz"
@Robinmcgvr Nova Cinema is missing from the above website from 25th April 2020.  Is Matteo aware of this?

[2020-04-29 15:48] Robinmcgvr commented on #14
@Lynne12

No,  because I was not aware of it either

[2020-04-29 15:54] Robinmcgvr commented on #14
@Lynne12

It's back from the 28th so missing a few days, I will try and keep an eye on this one for a bit to check it carries on behaving

[2020-04-29 16:01] Robinmcgvr commented on #14
@Lynne12

Matteo has been informed and I have asked if he can recover those three days, plus sort out a back up source.  Will let you know - but give it a few days

[2020-04-30 09:43] Robinmcgvr commented on #14
@Lynne12
I am going to manually schedule those 3 days into studio for now.
I am doing this way because I have no other way currently to save the data available from new site I have found idnes.cz
We may end up having to manually schedule that chunk anyway if the data can't be recovered from the usual loading source.

[2020-04-30 11:52] Robinmcgvr commented on #13
@Lynne12

Did you ask Dawn to do this scheduling?

[2020-04-30 12:15] Robinmcgvr commented on #14
Hmm the data on the idnes.cz and tvprogramnova.cz sites has time differences - sometimes 2 hours sometimes 1!
God knows why. But that could cause some issues when/if you do load data again - let me know when you are ready to load data for that week, and which source you are going to use - I know you don't know yet - but I will make adjustments to the data to enable the loading to work (ie delete o

[2020-04-30 12:32] Robinmcgvr commented on #13
@Lyyne12
I have entered today's data - it would be good if we could get data entered up to and including Monday - let me know if no-one is available to do it

[2020-04-30 12:37] Lynne12 commented on #13
I haven't done so, no. We shouldn't really be adding channels to manual scheduling, as it is the most time consuming. Will wait on Matteo to confirm the new site is up and running. There are websites with this data on that go back, for temporary gap filling:-
http://tvprogram.centrum.cz/den/2020/4/25/

[2020-04-30 12:44] Lynne12 commented on #14
Again this is available to go back on, so no need to manually schedule at this stage and then have to mess about deleting the data.  We can allow Matteo to advise on data recovery or new site:-

http://tvprogram.centrum.cz/den/2020/4/29/

[2020-04-30 14:04] Robinmcgvr commented on #14
Ah cool , I missed that the channels were available on there. That is good

[2020-05-01 12:07] Lynne12 opened #15 "Switzerland - rts.ch"
@Robinmcgvr can you please liaise with Matteo with regards to the rts.ch website.  I was recently loading data for the date range 21-27 April 2020 and it throws up an error message for a totally different date range.  I have referred this to Richard and he said the following:-

**For some reason this CSV contains this data:

RTS2 | 2020-03-13 21:28 | 2020-03-13 21:29 | Zap RTS Sport
RTS2 | 2020-03

[2020-05-04 11:05] Robinmcgvr commented on #11
@Lynne12
We are still having issues with TVprofil. it should be OK for Croatia, but the site might not be listing all the Pink channels we use for Serbia.
Luckily we have good alternative sources for both

[2020-05-04 11:14] Robinmcgvr commented on #10
@Lynne12
we have a new site for Romania cinemagia.ro
This has only just started though .
Axn.ro is fixed too, just a slight hitch that the data is going into poland folder, I have asked Matteo to fix that.
Still leaves us with a gap for kanal D but nothing we can do about that now

[2020-05-04 12:20] Lynne12 commented on #11
@Robinmcgvr still not okay for Croatia?  Nothing past early hours of 21st April, nor for any of the Serbian channels.

[2020-05-04 12:24] Lynne12 commented on #11
@Robinmcgvr can you confirm when they are up and running please, if they will be at some stage.  I have looked at mojtv and it does not cover RTL2, Croatia.  It will be messy to have lots of alternate sites set up, if they are only to be temporary and I can keep this as one of these as the last countries to schedule, in April, to allow more time for a permanent solution.

[2020-05-04 12:40] Robinmcgvr commented on #11
@Lynne12
Perhaps you could take a look at the kapow files yourself?
I am a bit busy today .
I will look further when I have finished the high proirity tasks that I have to deal with

[2020-05-04 12:43] Lynne12 commented on #11
I already had done, which is why I was reporting to you, in response to you saying the site was now okay for Croatia. I haven't asked you to look today, was just merely responding to your information.  I can liaise directly with Matteo, if that is what you prefer, but in the past you have said only one person should deal with him on an issue, hence you set up this Github.

[2020-05-04 12:53] Lynne12 commented on #10
@Robinmcgvr can you confirm what date cinemagia.ro will be running from please?

[2020-05-04 16:44] Robinmcgvr commented on #10
@Lynne12
First day is 3rd May

[2020-05-05 08:23] Lynne12 commented on #10
@Robinmcgvr please advise once cinemagia.ro is available on Kablam and the full list of channels it will be used for (from the programtv.ele.ro that was previously used). I have checked today and it is not there currently. In addition axn.ro is not on Kablam.

[2020-05-05 09:26] Robinmcgvr commented on #10
I have requested that Richard add the site to Kablam

[2020-05-05 09:28] Lynne12 commented on #10
I also need confirmation of which channels, from my list above it will be supplying?

[2020-05-05 09:31] Robinmcgvr commented on #11
I am unable to answer your question I am afraid. But it looks unlikely that the site will regain the missing channels, as some channels seem to be no longer available from tvprofil therefore I recommend shifting to the alternative data sources.

[2020-05-05 09:34] Robinmcgvr commented on #10
These are the channels we are pulling, so I guess all of them?
Kanal D
--
AXN
Prima TV
Pro TV
TVr 1
Tvr 2
Antena 1
Pro 2

[2020-05-05 09:37] Robinmcgvr commented on #10
But it's your choice at the end of the day as to which channels we load from where, whatever is easiest for you.

[2020-05-05 09:41] Lynne12 commented on #11
Not all channels are covered on the alternate source that you gave.  My previous note will confirm that.  I can use it for the ones that are.

[2020-05-05 11:03] Robinmcgvr commented on #11
I have had some time now to look at these sources and channels :
I would suggest we use either the rtl.hr site or tvhr.net for rtl channels as these sources are giving us episode numbers .
tvhr.net also covers HRT 1 & 2
mojtv.net is a bit lacking in episode info so novatv site maybe better for the Nova channel
It may then be better to stick to using these three for loading for quality of data
It's

[2020-05-05 12:58] Lynne12 commented on #10
Prima is missing for 27th & 28th April, from the replacement website (for gap filling) primatv.ro.

[2020-05-05 13:12] Lynne12 commented on #10
@Robinmcgvr will need axn.ro on Kablam too please.

[2020-05-06 09:04] Robinmcgvr commented on #10
@Lynne12
The axn.ro data has been moved back to Romania folder now.
I have asked Richard to add the relevant sites to Kablam , so hopefully that won't be too long.
I will let you know if we get data for Prima for 27th and 28th , but I am not hopeful.
It may take a few days to give a final answer on that.

[2020-05-07 12:33] Lynne12 opened #16 "Ireland - tvguide.co.uk"
RTE1 and RTE2 are missing the following dates:-

10 - 30 April 2020 - RTE1
11 April - 1 May 2020 - RTE2

[2020-05-07 12:45] Robinmcgvr commented on #16
@Lynne12
Ok is that all that you have found missing from the site?
We have at least two back up sites for data for those channels .
It may not be worth the recovery work.

[2020-05-07 12:45] Lynne12 commented on #16
@Robinmcgvr that is all I have found on the current week of loading (28th April - 4 May)

[2020-05-07 12:49] Robinmcgvr commented on #16
@Lynne12
Those channels are there when I look at the kapow data for 28/04 to 01/05

[2020-05-07 12:51] Robinmcgvr commented on #16
@Lynne12
Maybe an issue with the formulation of the channel names? ie gaelic style.

[2020-05-11 10:12] Lynne12 commented on #16
@Robinmcgvr this is actually a bigger date range and I have amended the post above.
There is a problem with the channel names on Kablam and I will refer this to Richard.

[2020-05-11 10:52] Robinmcgvr commented on #16
@Lynne12
Ok great - if it continues to be a problem there is entertainment.ie or rte.ie

[2020-05-11 11:14] #16 closed, assigned to nobody

[2020-05-11 12:26] Lynne12 commented on #13
Data loaded to fill gaps from centrum.cz

[2020-05-11 12:37] Lynne12 commented on #10
@Robinmcgvr in line with your email from Matteo, it would be good to get all the sites that used to be supplied by ele.ro on to Matteo's suggested website, programetv.program24.ro.  That way we are not messing about with multiple sites and as Matteo advised we can go back on this replacement website.  I will wait to hear before doing any more on Romania.

[2020-05-11 13:00] Lynne12 commented on #11
@Robinmcgvr requested Richard to change from tvprofil.com to 3 alternate sites, for Croatia. Can you please confirm the replacement site(s) for Serbian channels.

[2020-05-15 10:29] Lynne12 commented on #11
@Robinmcgvr do you have any news on this please?

[2020-05-15 10:31] Lynne12 commented on #12
@Robinmcgvr is there any news from Matteo on this, please?

[2020-05-15 10:33] Lynne12 commented on #15
Matteo is currently working on this and it will be monitored on the issue in ETS Issues.

[2020-05-15 10:33] #15 closed, assigned to Robinmcgvr

[2020-05-15 10:38] Lynne12 commented on #11
Croatian replacment websites are now up and running and data has been loaded to fill the missing gaps.  This remains open for Serbia only now.

[2020-05-15 10:54] Lynne12 commented on #10
I have requested Richard to add the program24.ro site to Kablam.

[2020-05-15 10:57] Robinmcgvr commented on #11
mojtv.net was the recommended replacement site for Serbia

[2020-05-15 11:01] Robinmcgvr commented on #12
@Lynne12
He is still working on it.

[2020-05-15 11:03] Robinmcgvr commented on #12
we have another source for the channel, if required, film1.nl - this is already in kablam.

[2020-05-15 11:19] Lynne12 commented on #11
@Robinmcgvr this does not have Pink Kids channel.

[2020-05-15 13:51] Robinmcgvr commented on #11
@Lynne12
We will have to use tv.aladin.info for that one then. Bit of a nause, sorry

[2020-05-15 14:38] Robinmcgvr opened #17 "VTM Kzoom changed to VTM KIDS"
@Lynne12
The channel VTM Kzoom has rebranded as VTM Kids , unfortunately our downloads have not been picking up the new version of the channel.

I have asked Matteo if he can recover back data to March 1st for this one .
So that means that the March Belgium man scheduling is not actually completed.
I hadn't realised this before, just thought it hadn't shown any relevant films.
Argh!

[2020-05-15 14:45] Robinmcgvr commented on #17
That also means that April Belg, man sched is only prepped for Vijf and Plug-RTL

[2020-05-15 16:24] Robinmcgvr commented on #14
site tvprogram.nova.cz data is now recovered

[2020-05-15 16:28] Robinmcgvr commented on #14
We don't necessarily have to revert to using the site, whatever is easiest option for you.

[2020-05-18 10:27] Lynne12 commented on #11
@Robinmcgvr will use these two new websites to fill the gaps and going forwards.

[2020-05-18 10:27] #11 closed, assigned to nobody

[2020-05-18 10:34] Lynne12 commented on #17
@Robinmcgvr thanks for the info.  You may wish to inform Jackie and Emma, as I had notified them that March scheduling was complete.

[2020-05-18 10:40] Robinmcgvr opened #18 "Canada citytv.com"
@goodallE

Data from site citytv.com Canada, is not currently downloading .
It is listed as an OPR site , is this one you still use?
Looks doubtful we will get this guide back due to the change in format of the tv guide.
Could you let me know if the site is still used for OPR work?

[2020-05-18 10:51] GoodallE commented on #18
On 2020-05-18 11:40, Robinmcgvr wrote:

Hi Robin,

Yes it is one we use as a secondary source, if the primary source is
unavaliable or has no information.

Thanks

Emma

[2020-05-18 11:23] Robinmcgvr commented on #17
ok done, although i think that it is a Paramount only channel

[2020-05-18 12:04] Lynne12 commented on #10
@Robinmcgvr a couple of questions:-

1.  Have you heard from Matteo on this?
2.  The gap filling site, for AXN (axn.ro), does not have data from 11-26 April, so I have only been able to load 27th April onwards.

[2020-05-18 13:31] Lynne12 commented on #14
@Robinmcgvr thanks and will stick with the site, as it is already set up.

[2020-05-18 13:31] #14 closed, assigned to Robinmcgvr

[2020-05-18 13:49] Lynne12 commented on #13
@Robinmcgvr data missing 5-9 May.  I will fill the gaps from centrum.cz again, but do we have any word from Matteo on the new website?

[2020-05-18 13:52] Robinmcgvr commented on #10
It would be better if we were able to proceed with the other Romanian channels in the meantime as we don't need axn for Paramount .
I will see what Matteo can do with the data from program24 , but I think it is better to proceed with what we have and drop the one channel in later, rather than delaying all Romanian data.

[2020-05-18 13:52] Lynne12 opened #19 "Belgium online scheduling - moustique.be"
@Robinmcgvr we are missing data for 5-18 May 2020

[2020-05-18 13:54] Lynne12 commented on #10
All data that can be loaded has been.  I also need the new site for Kanal D, so you will be missing that too until it is set up.  Until we have the new site I am having to manually pull all the other channels, which is time consuming.  Once the new site is set up it will download weekly automatically.  I have spent a lot of time, over the past few working days gap filling all the online scheduling

[2020-05-18 14:08] Robinmcgvr commented on #19
yes I am aware and it was reported a while back, it is still missing now, I have not had any feedback on it from Matteo yet.
I will chase him up on it now

[2020-05-18 14:10] Robinmcgvr commented on #19
We have BE1 in cinetelerevue.be data should we need it

[2020-05-18 14:16] Robinmcgvr commented on #10
Yep we are all running around trying to fix the data myself and Matteo included.;
It would be good of course if Richard were able to make this process less complicated then the substitutions would be easier to do.
But that may be wishful thinking!

[2020-05-19 12:24] Lynne12 commented on #10
Just to confirm the current situation for April (a reminder to me as much as anybody else).  The following channels still have missing data, for April:-
AXN - 11-26 April
KANAL D - 11-30 April and going forwards (no source yet set up)

[2020-05-26 09:18] Robinmcgvr commented on #19
@Lynne12
Moustique.be data is back now, all there for whole of May to date.
let me know if you have any further issues loading this data.

[2020-05-26 10:04] Robinmcgvr opened #20 "Switzerland srf.ch"
HI Lynne,

We are missing data for site SRF.ch back to 20th May - it has been reported to Matteo,
I will let you know when it has been fixed

[2020-05-28 09:28] #19 closed, assigned to Robinmcgvr

[2020-05-28 12:33] Lynne12 commented on #20
For reference this applies to:-
Germany - 3SAT & SUDW
Switzerland - SF1 & SF2

[2020-05-29 09:57] Lynne12 opened #21 "Croatia - novatv.hr"
@Robinmcgvr 23 & 24 May missing.  Can you let me know when tvprofil.com is recovered (checked Kablam today and these dates are not there).

[2020-05-29 15:17] Robinmcgvr commented on #21
@Lynne12
I will let you know when the May data has been fully recovered , shouldn't be too long.

[2020-05-29 15:19] Robinmcgvr commented on #21
Are you intending to fill those gaps via manually scheduling those 2 days only?
Would seem the best idea , then we don't have to mess about with changing loading sources again.

[2020-06-01 08:31] Lynne12 commented on #21
I'm going to keep any eye on these new sites, going forwards.  If they start to cause issues I will switch back to the one.

[2020-06-01 08:37] Robinmcgvr commented on #21
fair dos.

[2020-06-01 13:54] Robinmcgvr commented on #20
@Lynne12
Data is now back, had a quick look, channels look ok

[2020-06-01 16:24] Robinmcgvr commented on #21
May tvprofil data seems to be back for all of May - I haven't checked the actual data yet though

[2020-06-02 07:46] #20 closed, assigned to Lynne12, Robinmcgvr

[2020-06-02 07:57] Lynne12 commented on #21
@Robinmcgvr I have checked the data for the missing dates I need and all looks fine, so will load the gaps from tvprofil.com

[2020-06-02 07:57] #21 closed, assigned to Robinmcgvr

[2020-06-02 08:32] Lynne12 commented on #10
Awaiting Richard to set up programetv.program24.ro on Kablam, so that the gaps in the above two channels can be loaded.

[2020-06-02 08:35] #13 closed, assigned to Robinmcgvr

[2020-06-04 09:50] Lynne12 commented on #12
@Robinmcgvr I believe we switched from that one some time ago, as there were issues with it, so will continue to wait on Matteo for a fix.

[2020-06-05 10:31] Lynne12 commented on #10
@Robinmcgvr has Matteo confirmed that this data is now okay, from 17th May onwards?  Your email 22 May refers to this.

[2020-06-05 10:31] Lynne12 commented on #10
Missing dates for April have now all been loaded.

[2020-06-24 12:07] #10 closed, assigned to Robinmcgvr

[2020-06-24 12:08] Lynne12 commented on #12
@Robinmcgvr is there any news on this yet, please?

[2020-06-24 12:09] Lynne12 opened #22 "Brazil - mi.tv"
@Robinmcgvr the above website is missing 22nd June 2020

[2020-06-24 12:09] Lynne12 opened #23 "Mexico - mi.tv"
@Robinmcgvr the above website is missing 22nd June 2020

[2020-06-24 12:10] Lynne12 opened #24 "Czech Republic - hbo.cz"
@Robinmcgvr the above website is missing 21st June 2020

[2020-06-24 12:36] Robinmcgvr commented on #23
@Lynne
Ah these sneaked past me, although I had checked them on monday, these are sites that usually are one day behind, so on Monday's check nothing looked wrong - I will ask Matteo to try and recover.

[2020-06-26 16:23] Robinmcgvr commented on #24
Data is still missing for all 3 european hbo sites, cz, hu & pl

[2020-06-29 11:19] Lynne12 commented on #23
Data loaded

[2020-06-29 11:19] #23 closed, assigned to Robinmcgvr

[2020-06-29 11:20] Lynne12 commented on #22
Data loaded

[2020-06-29 11:20] #22 closed, assigned to Robinmcgvr

[2020-06-29 11:33] Robinmcgvr commented on #24
This data is lost from the hbo sites you will need to use the back up sources for the day either by loading that week from them , or getting Branko/Pavle to manually schedule using them.

[2020-06-29 11:35] Robinmcgvr commented on #24
czech = mujtvprogram.cz
Hungary = tvmustra
Poland is not listed as online scheduled - is that correct?

[2020-06-29 12:14] Lynne12 commented on #24
21st June is not missing for Hungary and yes it is correct that we don't do online scheduling for Poland.

[2020-06-30 07:14] Lynne12 commented on #24
21st June, HBO Czech, loaded from centrum.cz

[2020-06-30 07:14] #24 closed, assigned to Robinmcgvr

[2020-06-30 08:05] Lynne12 commented on #12
@Robinmcgvr can you please give an update on this, from Matteo?  It is very time consuming manually changing these programmes each month.

[2020-06-30 09:43] Robinmcgvr commented on #12
@Lynne12
What's the date you last loaded data from?
I am pulling data in Kablam now to see if the data is alright now or not.

[2020-06-30 09:54] Lynne12 commented on #12
With the June data it looks like the long durations have stopped.  However, this has been replaced by another problem.  The early morning slot is now being duplicated, one with a '0' duration and the same start and end time and another with the correct duration:-

**STUDIO**
CANN | 04/06/20 | 02:40 |  02:40  | 0 |   | OFFICER DOWN

CANN | 04/06/20 | 02:40 | 04:20 | 100 |   | OFFICER DOWN

**KABLAM

[2020-06-30 09:58] Robinmcgvr commented on #12
@Lynne12
I think we are going to be stuck with that issue , I see it in the data now , there are quite a few of our channels that have a record like that where there is a zero mins followed by correct time . This should get fixed in checking even if missed by inputters.
So I would say go ahead and load.

[2020-06-30 09:59] #12 closed, assigned to Robinmcgvr

[2020-06-30 10:00] #17 closed, assigned to Lynne12, Robinmcgvr

[2020-07-03 16:56] Robinmcgvr opened #25 "KAPOW FAILURE 1ST JULY ONWARDS"
@Lynne12

Unfortunately all sites have failed to download from 1st July onwards.
Matteo has been informed, but it will probably take a while to sort out.
I have sent him a list of the loading sites so he knows that these are a priority.
I will check in with him on Monday when I was planning to do Monday's Kapow check anyway

[2020-07-04 09:18] Lynne12 commented on #25
Oh dear, that's not good news.  Will wait on any updates.  I am due to start loading July scheduling data on Wednesday 8th.

[2020-07-05 14:54] Robinmcgvr commented on #25
@Lynne12
I think it's unlikely there will be enough data recovered to do any loading this week.
Matteo is working on it , it's a memory issue apparently.
But you never know it may be quicker process than I think, maybe take a look to see what dates data is available to in kapow or kablam before you try to load any.
Jonathan is on the case about it too so he may be able to update you on the situati

[2020-07-06 09:05] Lynne12 commented on #25
I will hold off, although I will load 30th June today so that June is ready to work on in its entirety (this date would have been included in the early July loading).  I have logged the countries that Matteo has listed as unrecoverable on the Issues Chart, for your perusal and comment.

[2020-07-09 10:21] Lynne12 commented on #25
@Robinmcgvr can you update me on channels/countries recovered once you hear from Matteo, please.

[2020-07-09 10:25] Robinmcgvr commented on #25
@Lynne12
I am in midst of putting together a chart of what has been recovered to the 1st and what hasn't, when I am finished I will send it over to you.
Won't be much longer

[2020-07-09 10:28] Lynne12 commented on #25
@Robinmcgvr thank you.  Did you mean 1st-4th, as this is the missing date range?

[2020-07-09 10:33] Robinmcgvr commented on #25
yes

[2020-07-13 11:08] Robinmcgvr commented on #25
@Lynne12
Updates oN Kapow
CH (SWITZERLAND)
TELE.CH does cover channels RSI 1 & 2, plus RTS 1 & 2 (BUT THIS IS STILL MISSING 3RD JULY)
SRF.CH covers channel Puls 8 & SRF1 & 2

SE (SWEDEN)
VIASAT.SE - (VIASAT FILM PREMIERE) it is actually the 2nd rather than the 1st that has missing data.

RO (ROMANIA)
Antena 1 - I have recovered data for 1-4 July from programetv.program14.ro -
only in either pdf or

[2020-07-13 11:35] Robinmcgvr commented on #25
@Lynne12
More updates

DE (Germany)
SRF.CH - also covers BR, WDR & NDR

CZ (CZech Rep.)
IDNES.CZ -covers NOVA ACTION, NOVA 2

[2020-07-15 10:56] Lynne12 opened #26 "Romania - program24.ro"
@Robinmcgvr the above website is missing 5&6 July 2020

[2020-07-15 11:46] Robinmcgvr commented on #26
well we will probably just have to deal with that

[2020-07-15 11:48] Robinmcgvr commented on #26
@Lynne
Actually I already recovered data for this if it's A1 you're after, but only in either print out or pdf form

[2020-07-15 12:11] Lynne12 commented on #26
@Robinmcgvr it covers the following channels:-

PRIMA
PROTV
TVR1
TVR2
KANALD
AXN

[2020-07-15 12:45] Robinmcgvr commented on #26
@Lynne12
Most of those are avaialble via other kapow/kablam sources namely:
primatv.ro
Pro.tv
Tvr.ro
axn.ro

I will see if I can get KanalD

[2020-07-17 08:50] Robinmcgvr commented on #26
@Lynne12
Matteo has managed to recover those days for us.

[2020-07-17 09:30] #26 closed, assigned to Robinmcgvr

[2020-07-27 13:03] Lynne12 opened #27 "Australia - foxtel.com"
@Robinmcgvr foxtel is missing 2-4 July 2020, as part of the missing date range on Kablam.  There appears to be no alternate website for this.

[2020-07-27 13:23] Lynne12 opened #28 "Mexico - AMC"
@Robinmcgvr mi.tv is missing 5 July 2020, as part of the missing date range on Kablam. There appears to be no alternate website for this.

[2020-07-27 13:51] Lynne12 opened #29 "Australia - ourguide.com.au"
@Robinmcgvr the following are missing 1-5 July 2020, from the missing period of Kablam downloads:-

ALBANY-GWNP

ALBURY-PR16 & NBS3

CAIRNS-WINT & QTVT

Please advise if you have alternate websites for these channels.

[2020-07-27 14:08] Robinmcgvr commented on #27
Thanks yes this is going to be one we won't be able to recover lost data for sadly

[2020-07-27 14:09] #27 closed, assigned to Robinmcgvr

[2020-07-27 14:09] Robinmcgvr commented on #29
The only alternative source I know for these is 'yourtv' but the same days are probably missing from there too.
So again we will just have to have a gap in this data.

[2020-07-27 15:11] Robinmcgvr commented on #28
the whole day is actually there in the kapow data, so I am not sure what's happened there - I can email it to you to give to the inputters to manually fill in the gaps.

[2020-07-28 06:55] Lynne12 commented on #28
@Robinmcgvr the data you attached to your email is for 5th May 2020.

[2020-07-28 09:26] Robinmcgvr commented on #28
oops! Sorry about that , was working on May data for something else at the time.
So we are in fact missing Mi.tv for 5th July - I will see if Matteo is able to pick this up.

[2020-07-29 09:55] Robinmcgvr opened #30 "Portugal data 4-10 February"
@Lynne12
@JonathanETS
I have just found that there is a week of missing data for channels SIC and Tvi Portugal covering 4-10th February.
There is no log for this.
Having investigated further I can see that nos.pt seems to have the data, so I am not sure what heppened there.
But the good news is that we do have the data, both from nos.pt and sic.sapo.pt and tvi.iol.pt - so it can be manually added.

[2020-07-29 10:21] Lynne12 commented on #30
@Robinmcgvr I've loaded the data, if you wish to process it.

[2020-07-29 10:26] Robinmcgvr commented on #30
@Lynne12
Thanks I will do that now - I  have checked the rest of the quarter and that does seem to be the only significant missing chunk.
I guess there must have just been an error in the loading system during that time.

[2020-07-29 13:21] Robinmcgvr commented on #30
@Lynne12
Just spotted something else a bit weird about this data - for tvi - it has not loaded the first programme on the 4th feb that starts at 00.30 (first dates)- I presume this is not normal - could this be a clue as to why the data didn't load before?
Everything else looks OK , so I will just add in that transmission manually.

[2020-07-29 13:44] Lynne12 commented on #30
@Robinmcgvr I am unsure as to why it didn't load.  I usually get a message, on the loader if things have failed.  The back up to this would be the inputter advising me that there was no data there, but that can't have happened in this instance.

[2020-07-29 14:44] Robinmcgvr commented on #30
This was the period where we had both been away , so that could explain why it slipped through the net.
Anyway it's sorted now and hasn't had any adverse effect on client data - so all good.

[2020-07-29 14:44] #30 closed, assigned to nobody

[2020-08-06 12:55] Lynne12 commented on #28
@Robinmcgvr any news on this day, please?

[2020-08-06 13:18] Robinmcgvr commented on #28
I have just checked and the data is now there.

[2020-08-06 13:31] Lynne12 commented on #28
Great, thanks!

[2020-08-06 13:31] #28 closed, assigned to Robinmcgvr

[2020-08-10 12:09] Lynne12 commented on #29
@Robinmcgvr all regions are missing 29th July 2020

[2020-08-11 07:45] Lynne12 opened #31 "Sweden: tv4:se"
@Robinmcgvr the above website missing 2 July 2020, from the missing period of Kablam downloads, for the ETS channel TV1000 (Viasat Film Premiere)

[2020-08-11 07:50] Lynne12 opened #32 "Romania: a1.ro"
@Robinmcgvr the above website missing 1-4 July 2020, from the missing period of Kablam downloads, for the ETS channel ANT 1

[2020-08-11 07:55] Lynne12 opened #33 "New Zealand: vodafone-nz"
@Robinmcgvr the above website missing 3&4 July 2020, from the missing period of Kablam downloads, for the ETS channel NSKM

[2020-08-11 09:17] Robinmcgvr commented on #31
@Lynne12
The data does seem available from tv.nu website, so i will ask Matte if he is able to recover that.
However if you want to get that week processed for just the one channel for the one day it could be added in manually via the following link https://www.tv.nu/kanal/viasat-film-premiere/2020-07-02

How is the rest of the Swedish stuff you load? Is that all ok for that period?

[2020-08-11 09:23] Robinmcgvr commented on #31
n.b. that channel viasat film premiere is not currently being downloaded from tv.nu , so it will take a little longer to sort that out potentially - as he may have to do extra work to incorporate that into our downloads.

[2020-08-11 09:25] Robinmcgvr commented on #31
tv4.se will not allow us to go back to that date - hence why tv.nu seems ony option

[2020-08-11 09:30] Robinmcgvr commented on #32
@Lynne12
If Matteo had been able to restore the site it would have already been done so I will look to see if there are any live sites that can give us that data - otherwise we will just have to log it in the issues chart as being missing.

[2020-08-11 09:44] Lynne12 commented on #31
@Robinmcgvr I will wait on Matteo to recover from tv.nu, as this is the only issue with Sweden.  We are not working on this country yet, but I am just getting ready for when we do.

[2020-08-11 10:01] Robinmcgvr commented on #31
OK I have asked Matteo if he can reinstate the channel to tv.nu and recover the missing data .
I will let you know when , if he manages it

[2020-08-11 10:07] Robinmcgvr commented on #32
@Lynne12
I have emailed Matteo about this one and asked him to add it to the program24.ro channels, not sure why it wasn't being included in that data anyway.

[2020-08-11 10:29] Robinmcgvr commented on #33
@Lynne12
I can't get any data for that period I am afraid, no sites that carry the channel allow us to go back - so that is one that will just have to be logged as having those days missing.

[2020-08-11 10:34] Lynne12 commented on #33
Logged on Issues Chart

[2020-08-11 10:34] #33 closed, assigned to Robinmcgvr

[2020-08-11 10:53] Robinmcgvr commented on #29
@Lynne12
That day seems to be available for all regions on yourtv, are you able to load it from there? I guess it may mean having to do the the whole week , not sure if there are any time differences between those two data sources, but we should be able to work around it.

[2020-08-11 12:28] Lynne12 commented on #29
@Robinmcgvr I cannot see all the above listed channels on that Website.  If you know they are called different names then please advise of this?

[2020-08-11 12:38] Robinmcgvr commented on #29
@Lynne12
Ah yes for some reason the regions we download from yourtv do not show up in kablam even though this is how they download in kapow which is a bit weird - we do pull GWN7 which is another name for gwn and the data that kablam generates does match the Albany GWN   - so this one is OK . - 29th July manually scheduled.
I will go through the remaining channels and let you know their status. -

[2020-08-11 12:44] Robinmcgvr commented on #29
Prime =Prime 7 in yourtv kablam - data matches up - 29th July manually scheduled.
NBN3 = NBN - again data matches to yourtv Newcastle - 29th July manually scheduled
WIN should be OK too, but QTVT needs a little bit more digging ... I'll get back to you on that one in a bit
WIN-29th July manually scheduled

[2020-08-11 13:54] Robinmcgvr commented on #29
@Lynne12
i can't get QTVT
But these are ok
Prime =Prime 7 in yourtv kablam - data matches up - 29th July manually scheduled
NBN3 = NBN - again data matches to yourtv Newcastle - 29th July manually scheduled
WIN should be OK too - 29th July manually scheduled

[2020-08-12 12:04] Lynne12 opened #34 "France - tv-programme.telecablesat.fr"
@Robinmcgvr the above website is missing data for 6th - 10th August.

[2020-08-12 13:40] Robinmcgvr commented on #31
@Lynne12
Channel viasat film premiere has now been added to tv.nu data and should cover whole of July (he is working on the August now)

[2020-08-14 09:30] #31 closed, assigned to Robinmcgvr

[2020-08-14 20:30] Robinmcgvr commented on #32
@Lynne12
This data for the required dates is now available from program24.ro
However only these dates have had Antena 1 added - does that work for you ? Can you load only 4 days?
The channel is now being included in the daily downloads from the site , but only from around the 12th of August

[2020-08-14 20:39] Robinmcgvr opened #35 "sweden viasat film premiere"
@Lynne Looks like viasat film premiere data has been added to tv.nu now - it seems to be the only channel downloaded for July 1-31 and Aug 1-11 from then on we seem to have all the channels.
Does that give you what you need?

[2020-08-17 11:19] Lynne12 commented on #35
@Robinmcgvr, yes thanks.  I only needed 2nd July 2020.

[2020-08-17 12:09] Lynne12 commented on #32
@Robinmcgvr 4 days loaded to cover the missing ANT1 dates.

[2020-08-17 12:09] #32 closed, assigned to Robinmcgvr

[2020-08-17 12:55] Lynne12 opened #36 "Czech online scheduling"
@Robinmcgvr the following are missing:-

axn.cz 1-4 July 2020
AXN channel

hbo.cz 1-4 July 2020
HBO channel

iprima.cz 2 July 2020 idnes.cz has half a day for 2nd July.
PREMIERA
PRIMA COOL
PRIMA LOVE

[2020-08-17 13:22] Lynne12 opened #37 "Switzerland online scheduling"
@Robinmcgvr the following is missing:-

tele.ch
Teleclub Star
2 & 3 July 2020

[2020-08-17 14:17] Robinmcgvr commented on #36
@Lynne12
Are you unable to load these channels from any of our alternative sources?

[2020-08-17 14:19] Robinmcgvr commented on #37
@Lynne12
I am pretty sure we don't have any alternative source for this one - so we will have to log the above days as missing

[2020-08-17 14:20] Robinmcgvr commented on #36
e.g. mujtvprogram.cz? that should cover hbo at least

[2020-08-17 14:22] Robinmcgvr commented on #36
unfortunately idnes.cz will not go back that far in July which is our alternative source for Prima and most other czech channels - so these will also have to be logged as missing.

[2020-08-18 06:14] Lynne12 commented on #36
@Robinmcgvr I checked the alternate sources before raising the issue.

[2020-08-18 08:00] Lynne12 commented on #36
@Robinmcgvr I will add these as missing to the issues chart.

[2020-08-18 08:00] #36 closed, assigned to Robinmcgvr

[2020-08-18 08:03] #37 closed, assigned to Robinmcgvr

[2020-08-18 08:05] #35 closed, assigned to Lynne12, Robinmcgvr

[2020-08-18 08:05] Lynne12 commented on #34
@Robinmcgvr have you had a chance to look at this?

[2020-08-18 09:11] Robinmcgvr commented on #34
@Lynne12
yes I looked at this yesterday and there are still some problems with the data - a couple of days didn't get their full compliment of channels. I have alerted Matteo to this.
Data for 6-12 Aug looks alright from file size but then the 13th and 15th are small again - you are probably clear to attempt loading up to and including the 12 th.

[2020-08-18 09:14] Lynne12 commented on #34
@Robinmcgvr I will hang fire until it is all there, as we are only just starting July scheduling.  It is easier to load as a whole week, than have days missing.

[2020-08-20 09:03] Lynne12 commented on #36
@Robinmcgvr I have loaded the part day 2nd July 2020 for the three Prima channels.

[2020-08-21 11:14] Lynne12 opened #38 "Germany - tvtv.de"
@Robinmcgvr I have been able to manually schedule all the German channels, which were missing 1-4 July 2020, from alternate websites.  The exception to this is RBB, which I have only been able to schedule the 1st July 2020.

Therefore the following is missing for RBB:-  2-4 July 2020

[2020-08-21 11:20] Lynne12 commented on #29
@Robinmcgvr I have looked to pull this data and only 5th July is available on Kablam.

[2020-08-21 13:01] Robinmcgvr commented on #29
@Lynne12
Ah yes, I think I was focusing on the 29th July data there , yes we are lacking 1-4 July - we will just have to live with that gap sadly.

[2020-08-24 09:59] Lynne12 commented on #29
@Robinmcgvr 29th July manually scheduled, with the exception of QTVT.

[2020-08-24 09:59] #29 closed, assigned to Robinmcgvr

[2020-09-09 12:31] Lynne12 commented on #34
@Robinmcgvr do we have an update on this missing data?

[2020-09-09 12:34] Lynne12 opened #39 "Switzerland online scheduling - rts.ch"
@Robinmcgvr the following channels are missing 5 September onwards.

TSIS (RSILA1)

TSI2 (RSILA2)

[2020-09-09 17:00] Robinmcgvr commented on #39
@Lynne12
Sorry didn't see this earlier - will get on to it tomorrow

[2020-09-09 17:04] Robinmcgvr commented on #39
@Lynne12
We have the channels on rsi.ch , so at least we are not missing data - but I will alert Matteo that rts.ch has lost channels

[2020-09-11 12:16] Lynne12 commented on #34
@Robinmcgvr I have double checked this and we are missing data from early hours of 6th to early hours of 11th.  The remainder of 11th is there and the rest of the month.

[2020-09-11 12:44] Lynne12 commented on #34
@Robinmcgvr having looked it appears that a lot of the missing dates are now available.  I will check this fully on my return and load the gaps.

[2020-09-18 11:58] Robinmcgvr commented on #39
@Lynne12
rts.ch now fixed

[2020-09-23 12:16] Lynne12 opened #40 "Switzerland online scheduling - 4plus.tv"
@Robinmcgvr the above is missing 14th September 2020

[2020-09-23 12:20] #39 closed, assigned to Robinmcgvr

[2020-09-23 12:21] Lynne12 commented on #38
@Robinmcgvr can you confirm that we will just be missing these dates, or whether there is an alternate website?

[2020-09-23 14:09] Robinmcgvr commented on #38
@Lynne12
We will be missing those dates.

[2020-09-23 15:43] Robinmcgvr commented on #40
@Lynne12

Thanks Lynne, got Matteo working on this.
I will let you know when it's back

[2020-09-24 08:05] #38 closed, assigned to Robinmcgvr

[2020-09-24 10:55] Lynne12 opened #41 "Hong Kong - epg.i-cable.com"
@Robinmcgvr the following dates are missing, for the named channel:-

[FAMHK] FOX ACTION MOVIES (HK)
2020-09-24 11:09:45 | --> below threshold >> 14/09/20,
2020-09-24 11:09:45 | --> missing >> 15/09/20, 16/09/20, 17/09/20, 18/09/20, 19/09/20, 20/09/20, 21/09/20, 22/09/20,

[2020-09-24 11:38] Robinmcgvr commented on #41
@Lynne12

I have looked at the website and the channel's listings are missing from the site itself so that would explain, will have to research further , maybe it has ceased or something.

[2020-09-24 11:55] Robinmcgvr commented on #41
@Lynne12

We have the channel on foxmoviesasia.com which we also download so I don't know why it's vanished from the other site.
But at least we have the data there. Fox Family Movies is on there too, as is Fox Movies - but this one comes in without a name so shifting to loading all those Fox channels from foxmoviesasia.com won't work currently .
I will ask Matteo to try and add the channel name f

[2020-09-28 09:47] Lynne12 commented on #34
Gaps loaded

[2020-09-28 09:47] #34 closed, assigned to Robinmcgvr

[2020-09-28 10:06] Lynne12 commented on #41
@Robinmcgvr I will load the gaps from foxmoviesasia.com and leave this open for your response from Matteo.

[2020-09-28 10:07] Robinmcgvr commented on #41
@Lynne12
For dates 14-25th Sept inclusive you will have to load 'Fox Movies action' via foxmoviesasia.com , from the 26th September onwards Fox Movies Action is back on epg.i-cable.com. You don't have to switch back to epg.. just letting you know that if you wish to, data is there again for that channel from the 26th Sept

[2020-09-28 10:11] #41 closed, assigned to Robinmcgvr

[2020-09-28 10:23] Robinmcgvr commented on #40
@Lynne12
4plus.tv 14th Sept is now restored

[2020-09-28 10:26] Lynne12 commented on #40
Data loaded

[2020-09-28 10:26] #40 closed, assigned to Robinmcgvr

[2020-09-28 10:27] #25 closed, assigned to Lynne12, Robinmcgvr

[2020-09-28 10:47] Robinmcgvr opened #42 "Romania A1.ro"
@Lynne12
We are missing data for the above site from 23 September onwards currently, it was reported to Matteo last week but has not yet been fixed. We don't appear to be able to go back on this site, so we will probably need to switch to an alternative loading source for channel Ant 1 for while.

[2020-10-02 16:43] Robinmcgvr commented on #42
The site is still not working

[2020-10-02 16:45] Robinmcgvr opened #43 "switzerland"
@Lynne12

We are currently missing data from the following sites:
s1tv.ch - 1,2 oct
4plus.tv - 30/09 - 02/10
6plus.tv 1,2 Oct

Matteo has been informed

[2020-10-05 11:06] Lynne12 commented on #42
Loaded gap from program24.ro

[2020-10-05 11:08] Robinmcgvr commented on #42
@Lynne12
Great, well done.

[2020-10-05 14:20] Robinmcgvr commented on #43
@Lynne12
4plus & 6plus are now restored.
Still got problems with s1tv,ch

[2020-10-07 10:44] Lynne12 commented on #42
Website is back working from 5th October 2020

[2020-10-07 10:44] #42 closed, assigned to Lynne12, Robinmcgvr

[2020-10-07 12:11] Lynne12 commented on #43
@Robinmcgvr teleclub.ch is missing from 24th September onwards.  We use this to load channel Teleclub (TCBZ).  I can fill the gap from tele.ch, but are yourself and Matteo aware?

[2020-10-07 12:15] Robinmcgvr commented on #43
@Lynne12
The site is there in kapow, but it seems the channel has dropped out.
I will check the site to see if the channel is still available.

[2020-10-07 12:19] Robinmcgvr commented on #43
@Lynne12
The site is re-directing to https://tv.blue.ch/tv-guide which doesn't seem to cover the Teleclub channels any more
i will see if they are listed under another name.
Are we able to get both the Teleclub sites from the other source?

[2020-10-07 12:21] Robinmcgvr commented on #43
ok I have answered that one myself - yes

[2020-10-07 13:44] Robinmcgvr commented on #43
@Lynne12
For your ref. Teleclub Cinema is also available via tvsearch.ch

[2020-10-07 14:45] Robinmcgvr commented on #43
@Lynne12
Ok more on this ...
Teleclub group of channels have rebranded to 'blue'

What was **Teleclub Star** is now '**blue action'** which is in the teleclub.ch downloads

**Teleclub (cinema)** is now **'blue prime**'

These are both available in our downlaods from teleclub.ch

So you have options now, you could load both the teleclub channels from the teleclub.ch site or carry on using the sourc

[2020-10-08 09:38] Lynne12 commented on #43
@Robinmcgvr I will amend the channel name for Teleclub Cinema and leave Teleclub Star on its current loading site tele.ch

[2020-10-21 10:58] Lynne12 opened #44 "Croatia-tvhr.net"
@Robinmcgvr the above site is missing the following dates: 13,14, 16-19 October 2020

[2020-10-21 11:41] Robinmcgvr commented on #44
@Lynne12
Thanks Lynne, I am aware and it has been reported to Matteo.
I didn't have the site down as being one we load from. This may be on the latest list you supplied but I have not been able to print that out yet, so it is not readily to hand I am afraid.

[2020-10-22 08:35] Robinmcgvr commented on #44
@Lynne12
Data has been restored now

[2020-10-22 10:59] Lynne12 opened #45 "Serbia - Pink 2"
@Robinmcgvr Pink 2 channel is missing from mojtv.net-rs from 14th October onwards.

[2020-10-22 11:28] Robinmcgvr commented on #45
@Lynne12
Thanks Lynne, I will get Matteo on the case.
We do have extratv.me as a back up source if necessary.

[2020-10-22 11:29] Robinmcgvr commented on #44
@Lynne12
Is there still a problem?

[2020-10-22 12:21] Lynne12 commented on #44
@Robinmcgvr no, but you closed the issue before I could take my action to load the data.  This could then slip through the net.  As I opened the issue I would need to close it once it is fully actioned.

[2020-11-02 13:41] Robinmcgvr opened #46 "Sweden tv4.se"
@Lynne12
tv4.se is missing data from 1st November - this has been reported to Matteo

[2020-11-05 08:31] Lynne12 commented on #46
@Robinmcgvr this is actually missing from 30 October

[2020-11-06 11:35] Robinmcgvr commented on #46
@Lynne12
Update on tv4.se - the site has undergone maintenance and there is currently no guide on the site.
We are monitoring it , but we probably need to use an alternative loading source.

[2020-11-06 11:38] Robinmcgvr commented on #46
tv-tabla.se covers the required channels

[2020-11-09 11:16] Lynne12 commented on #46
I've asked Richard to set up the loader to fill the gaps.  If the issues persist with tv4.se I will make a permanent switch to the replacement website.

[2020-11-18 09:31] Lynne12 commented on #46
@Robinmcgvr any news on this please? I have just pulled the week 10-16 November and there is still no data.

[2020-11-18 11:12] Robinmcgvr commented on #46
@Lynne12
There is no change, site still has no guide

[2020-11-18 11:21] Lynne12 commented on #46
I will switch permanently to the tv-tabla.se website, which I have been loading from for the past 3 weeks.

[2020-11-18 11:24] Lynne12 commented on #45
@Robinmcgvr any news on this please?

[2020-11-18 11:26] Lynne12 commented on #43
@Robinmcgvr can this be closed now?

[2020-11-18 11:26] Lynne12 commented on #18
@Robinmcgvr can this be closed now?

[2020-11-18 11:28] Robinmcgvr commented on #45
@Lynne12
Matteo was unable to find the channel on the site any more so are you able to use extratv.me?

[2020-11-18 11:29] #43 closed, assigned to Lynne12, Robinmcgvr

[2020-11-18 11:31] Robinmcgvr commented on #18
I suppose so yes. It wasn't actually for your attention

[2020-11-18 11:31] #18 closed, assigned to Robinmcgvr

[2020-11-18 11:34] Lynne12 commented on #18
@Robinmcgvr I am aware of that but it is an issue from May and Emma had answered your question.  I am going through issues relating to scheduling and spotted this old one.

[2020-11-19 12:30] Lynne12 commented on #45
@Robinmcgvr website changed, for Pink 2, to extratv.me

[2020-11-19 12:49] #45 closed, assigned to Robinmcgvr

[2020-11-23 18:12] Robinmcgvr opened #47 "Thai site tvsmagazine.com"
@ Ma-rco

Hi Marco, unfortunately the robot stopped for site tvsmagazine.com near the beginning of this month and I didn't spot it.
This could be a problem as the site doesn't allow us to go back.

[2020-11-25 10:20] Lynne12 opened #48 "Switzerland - teleclub.ch"
@Robinmcgvr this website is missing 22nd November.  Are yourself and Matteo aware?

[2020-11-25 10:36] Robinmcgvr commented on #48
@Lynne12
Thanks Lynne, no, that one got past me.
I shall alert Matteo now - good news is that the site will allow us to go back .

[2020-11-27 17:51] Robinmcgvr commented on #48
@Lynne12
Data for this site has been recovered now

[2020-11-27 17:51] #48 closed, assigned to Robinmcgvr

[2020-11-30 10:44] Robinmcgvr opened #49 "3plus.tv switzerland"
@Lynne12
Hi Lynne, all data for the plus.tv channels is being covered by 3plus.tv downloads from the 25th November onwards.
All the plus.tv sites are now re-directing to 3plus.tv
This site also covers S1, TV24 TV25 and 6+
So you may wish to use this single source for loading all of the newer Swiss sites going forwards.
You may not wish to change over and that's your call, half of them are manually

[2020-11-30 11:05] Lynne12 commented on #49
@Robinmcgvr I will take a look at this when I come to load the next week of online data, which covers the period 24-30 November 2020.  I do remember that 3plus.tv caused problems in the past (used to use it for 3+ channel) and we switched to an alternate website.  If the current loading sites for this channel and 4+ continue then I will leave them as is.

[2020-12-02 11:10] Robinmcgvr opened #50 "Australia Our guide Nov 27"
@Lynne12
We had a bit of a problem with data for 27th Nov in australia .
Although most has been restored, it seems we are still missing some data for Albury region, namely NBN - I have asked Matteo if he is able to fully recover data for that day.
But if he can't we may need to use our back up resource 'Yourtv/Newcastle' .

[2020-12-02 11:28] Robinmcgvr commented on #50
Prime is also covered by Newcastle data

[2020-12-03 08:43] Lynne12 opened #51 "Germany - tvtv.de"
@Robinmcgvr this website is missing 30th November

[2020-12-03 09:59] Robinmcgvr commented on #51
@Lynne12
Thanks, we are we are aware.
It was reported to Matteo.

[2020-12-03 10:15] Robinmcgvr commented on #51
Should the data not be recoverable all required channels are available from prisma.de

[2020-12-03 10:41] Lynne12 commented on #49
@Robinmcgvr loading website switch made to 3plus.tv for the channel 4+

[2020-12-07 11:18] Lynne12 commented on #51
RBB is not available on Prisma.............but is on tvmovie.de

[2020-12-07 11:20] Lynne12 commented on #51
@Robinmcgvr I have manually scheduled 30th November for all channels concerned.

[2020-12-07 11:21] Robinmcgvr commented on #51
@Lynne12
Ok good oh, it seems we have lost data for the site from 1-5 inclusive for tvtv.de now - grr
Not sure why it's failing again. We did get the 30th Nov back.
I will see if Matteo is able to get those days ...

[2020-12-07 11:22] Lynne12 commented on #51
@Robinmcgvr will wait to hear from you.  I am due to load those dates Wed/Thurs this week.

[2020-12-07 11:42] Robinmcgvr opened #52 "Sweden viasat.se"
@Lynne12
We are missing data from viasat.se from 5th December onwards
Hopefully we can get this recovered, I'll let you know later in the week.

[2020-12-07 12:03] Lynne12 commented on #49
@Robinmcgvr can this be closed now?

[2020-12-07 12:35] Robinmcgvr commented on #49
Yep. done

[2020-12-07 12:35] #49 closed, assigned to Robinmcgvr

[2020-12-07 12:36] Robinmcgvr commented on #50
@Lynne12
Albury data cannot be recovered for 27th I am afraid, so we will need to source the NBN and Prime from Yourtv/Newcastle.

[2020-12-07 12:36] Robinmcgvr commented on #47
Site restored but data was lost

[2020-12-07 12:36] #47 closed, assigned to Robinmcgvr

[2020-12-08 09:06] Lynne12 commented on #50
@Robinmcgvr can you confirm that these channels, on Kablam, are NBN and Prime7?  If so the data only starts at 12.15 for both channels.

[2020-12-08 10:26] Robinmcgvr commented on #50
@Lynne12
I have checked the data and it is Prime North we want. Luckily this is also available but via 'ontvtonight' which is also on Kablam.
NBN is on there too - so that in fact is the better back up source for these two channels. (NBN is still there on yourtv/Newcastle)
You don't see those regional suffixes in kablam but that is the way the data is in Kapow , but it was mapped to the correct ch

[2020-12-09 13:24] Lynne12 commented on #50
@Robinmcgvr 1st & 6th December are also missing for these two channels.

[2020-12-09 13:38] Robinmcgvr commented on #50
@Lynne12
Oh dear, yes I can see now that the file is only 17k . It seems the whole ourguide stopped downloading at 03:00 then restarted itself in the evening but missed Albury out on the 2nd run.
We won't be able to recover it so we will have to use the back up source again.
There are plans to create a report that will show the amount of data pulled for each source, which would be helpful for such

[2020-12-10 10:02] Robinmcgvr commented on #52
@Lynne12
This data is now recovered.
For your ref. channel 'Viasat film premiere' now seems to be called '

V Film Premiere HD

[2020-12-10 10:04] Robinmcgvr commented on #51
@Lynne12
Update on this one - data recovered ish - OK 1-7 th but now we have lost the 8th!
This one is being a pain in the neck

[2020-12-10 10:05] Robinmcgvr commented on #50
Matteo is working on fixing the robot for this

[2020-12-10 10:07] Lynne12 commented on #52
@Robinmcgvr thank you.  I will load data and you can close this issue now.

[2020-12-10 14:35] Lynne12 commented on #51
@Robinmcgvr 8th will be in next weeks loading file, so will wait to hear on that.

[2020-12-13 10:28] Robinmcgvr opened #53 "Telequebec.tv Canada"
@Lynne12
Do you know if the site Telequebec.tv is one that is used for reference by inputters?
The site is playing up and I am not sure if it is actually one we need.

[2020-12-13 10:35] Robinmcgvr opened #54 "lifestyle.com.au"
Hi Lynne,

This is another site that seems to have ceased.
It looks like we no longer work on this channel. Can you confirm if this is the case please?

[2020-12-13 10:40] Robinmcgvr commented on #53
Ah it seems that the data has been recovered now , it wasn't showing up  in my report.
But it would still be useful to know if it is one that we do need,

[2020-12-13 10:52] #52 closed, assigned to Lynne12, Robinmcgvr

[2020-12-14 09:18] Lynne12 commented on #53
I think the majority use tvpassport.com, but you could also check with Marco for OPR purposes.

[2020-12-14 09:20] Lynne12 commented on #54
@Robinmcgvr we do still verify this channel, (AULFS) Lifestyle.

[2020-12-14 11:08] Robinmcgvr commented on #54
Thanks Lynne,
If anyone is looking for a checking/reference source for the channel Ontvtonight is probably the easiest one to use.
They have probably already figured that out anyway.

[2020-12-14 12:17] Lynne12 commented on #54
@Robinmcgvr you could maybe add that source to the Best Practice repository, so that everybody can reference it.

[2020-12-15 08:55] Lynne12 commented on #54
@Robinmcgvr can this be closed now?

[2020-12-15 08:56] Lynne12 commented on #46
@Robinmcgvr can this be closed now?

[2020-12-15 09:08] Lynne12 commented on #50
@Robinmcgvr 27th November, 1st & 6th December will be loaded from ontvtonight.com.au

[2020-12-15 09:16] Lynne12 commented on #50
@Robinmcgvr I noticed 30th November was missing to, so will load this.  You might want to check your dates, to ensure nothing else is missing.

[2020-12-15 09:51] Robinmcgvr commented on #46
yep, done

[2020-12-15 09:51] #46 closed, assigned to nobody

[2020-12-15 09:51] Robinmcgvr commented on #54
done

[2020-12-15 09:51] #54 closed, assigned to Lynne12, Robinmcgvr

[2020-12-15 10:02] Robinmcgvr commented on #50
Thanks Lynne, unfortunately I see that the dates are there or not but not when channels are missing, if the data shows as having been downloaded.
Matteo is working on fixing the issue with ourguide with Richard , where it is dropping out in the early morning and not restarting properly, so hopefully this particular flaw will be ironed out soon.

[2020-12-15 10:12] Robinmcgvr commented on #50
7th to 14th look ok for Prime and NBN on Ourguide/Albury

[2020-12-16 13:33] Lynne12 commented on #51
@Robinmcgvr 13th is missing.

[2020-12-16 13:54] Lynne12 commented on #51
8th is recovered.

[2020-12-16 14:19] Robinmcgvr commented on #51
@Lynne12
Thanks reported to Matteo

[2020-12-17 09:55] Robinmcgvr commented on #51
@Lynne12
13th is now recovered

[2020-12-17 10:37] #51 closed, assigned to Robinmcgvr

[2020-12-18 11:53] Robinmcgvr opened #55 "Yanbe.net Japan"
Hi Lynne,

This isn't strictly a Kapow problem although it could become one.
Although the downloads still seem to be working.
There is an issue with the yanbe.net japan website, a major checking source for Japan, particularly for the manual scheduling.
I am currently unable to access the site.
You might want to pass this information on. I know Debbie isn't working for a while now, I will send her

[2020-12-18 18:02] Robinmcgvr opened #56 "maktv.gr"
Does anyone know what this site is?
It is one we need now for the verifying?
It has just appeared from nowhere , we only have one day's worth of data so far, the 17th Dec - can you let me know if this is one we need?
It seems to cover channel 'Makedonia TV'

[2020-12-18 18:40] JonathanETS commented on #56
@Robinmcgvr - Sony are adding Greece to the Verified...  and this is a new channel they want.  It's also been added to the iShow site.  Think I mentioned it on our call.  :-)

[2020-12-21 11:32] Robinmcgvr commented on #56
thanks, I knew we were going to be verifiying but wasn't sure about this channel - I will get Matteo onto it as only one day's worth has downloaded

[2021-01-04 10:14] Robinmcgvr opened #57 "Switzerland Tele.ch"
@Lynne12
Hi, we are currently missing data for 2nd January onwards from site Tele.ch
Having looked at the site itself it looks like this has become available to subscribers only now.
I will see if Matteo is able to bypass that in any way, but it's looking doubtful.
I think the data we need is covered by Teleclub isn't it?

[2021-01-04 15:19] Robinmcgvr opened #58 "Puerto Rico - foxtvpuertorico.com"
Hi Jonathan,

The site foxtvpuertorico.com seems to have ceased operating.
Although we don't currently seem to deal with channels from this country I presume we were downloading it for a reason.
Do we need to find a new source for this one?

[2021-01-04 19:53] JonathanETS commented on #58
I cannot remember why we are downloading it.   Let me think...  we can probably drop it.

[2021-01-05 13:13] Lynne12 commented on #57
@Robinmcgvr there are 3 channels covered by this website:-

TCBS
3PLS
TV24

[2021-01-05 13:37] Robinmcgvr commented on #57
@Lynne12
These are all covered by other download sources I believe.
Think we will have to move to those.

[2021-01-06 13:09] Robinmcgvr opened #59 "Russia - smotrim replacing tvkultura"
Note to self: Go through channels available from this source to see which ones we need the higher level of data for.

[2021-01-08 16:37] Robinmcgvr commented on #56
@Lynne12
@JonathanETS
We have lost data for this site again, covering 1-8 Jan , probably the 9th as well, data only available on site today from 10th Jan
I am asking Matteo to prioritise restoring the data as the site doesn't allow us to go back.
I think the site changed the format and the url for the tv guide

[2021-01-08 16:40] Robinmcgvr commented on #55
Site working OK again now

[2021-01-08 16:40] #55 closed, assigned to Lynne12, Robinmcgvr

[2021-01-08 16:46] Robinmcgvr commented on #1
Russia - tvkultura now redirects to smotrim.ru

[2021-01-08 16:48] Robinmcgvr commented on #1
Note to self - check which channels we want more detailed data for from this source

[2021-01-08 16:52] Robinmcgvr opened #60 "ETV SOUTH AFRICA"
We are missing one day of data for this site - 06/01/2021
Site does not allow us to go back

[2021-01-08 17:09] Robinmcgvr opened #61 "Thailand mono29.com"
@Ma-rco
We have lost data for mono29.com again I am afraid - 3-6 Jan affected, actually 7th looks to have failed again too.
I will ask  Matteo to look at this urgently.

[2021-01-08 17:11] Robinmcgvr commented on #61
@Ma-rco
Hmm not sure the site itself is working anymore - we might need to find a new source - argh

[2021-01-11 09:30] Ma-rco commented on #61
Thanks for letting me know!

[2021-01-11 09:35] Robinmcgvr commented on #61
@Ma-rco
@GoodallE
@Lynne12
We have definitely lost that site for Mono29, the site just times out every time one tries to access data via various links or even other schedules at this point. If either of you are able to find another source for data for the channel, please let me know.
There could be a small chance that things change, fingers crossed, but it's not looking very good at the moment I a

[2021-01-11 09:42] Robinmcgvr commented on #61
I have found this site which seems to carry the channel, I will see if Matteo can do anything this one.
https://tv.trueid.net/tvguide/all/mono29

[2021-01-13 09:59] Robinmcgvr commented on #61
@GoodallE
@Lynne12
@Ma-rco
Matteo is testing a new site we found for Thailand 'tv.trueid.net, - hopefully we can get it to download properly. Covers Mono29 and all the other Thai channels we work on too.

[2021-01-13 14:17] Lynne12 commented on #57
TCBS loading source changed to teleclub.ch
3PLS loading source changed to 3plus.tv
TV24 loading source changed to 3plus.tv

[2021-01-13 14:32] #57 closed, assigned to Lynne12, Robinmcgvr

[2021-01-14 08:23] Lynne12 opened #62 "Taiwan-fng.tw"
@Robinmcgvr the above website is missing data for 5th November 2020, required for Hong Kong SMHD channel.

[2021-01-14 09:26] Robinmcgvr commented on #62
@Lynne12
Ok Thanks Lynne, I see that the SMHD was lost from that day - there is nothing that can be done to recover this data I am afraid

[2021-01-14 09:30] Robinmcgvr commented on #62
@Lynne12
Oh actually have made the website go back now - had used a 0 when there shouldn't be one - it's probably just quicker then if we manually enter the data for the day than getting Matteo to recover it, as it's only the one channel missing rather than the whole day
https://www.fng.tw/smithd/program.php?go=2020-11-5
Is the link to the page

[2021-01-14 09:31] Robinmcgvr commented on #62
Shall I just do it now?

[2021-01-14 09:43] Robinmcgvr commented on #62
@Lynne12
DONE

[2021-01-14 09:51] #62 closed, assigned to Robinmcgvr

[2021-01-14 17:15] Robinmcgvr opened #63 "Norway Se.no"
Dates on all data downloaded since 01/01/2021 has wrong format and is showing as 01/01/1970
Matteo alerted.
Hopefully he can fix it.

[2021-01-25 10:27] Robinmcgvr opened #64 "Robot failure 24,25 Jan 2021"
As you are probably aware we had a major failure over the weekend.
Matteo is working to restore what he can
I am looking for data that I can find where he might not be able to restore it.
We will have to see what we can do, but it is possible we may not be able to recover all data for the period 23-25 January 2021

[2021-01-25 11:38] Lynne12 commented on #64
@Robinmcgvr I will need a list of all the Online Scheduling sources that are affected please, as per the loading source sheet you have.

[2021-01-25 11:43] Robinmcgvr commented on #64
it is all of them, everything

[2021-01-25 11:49] Robinmcgvr commented on #64
I am trying to find what I can, when I have done what I can and Mateo has done what he can, we can issue a list of what is still missing and won't be recoverable. At the moment it will data for the 23rd that is most likely to be unrecoverable. Some sites will go back a day but most I have looked at thus far will not go back to the 23rd
This could also affect the 22nd as data from some sites is a d

[2021-01-25 12:14] Lynne12 commented on #64
I will need an update once recovery work has been done and there is a better idea of what is still missing, please.  All as one list, once the recovery work is complete.

[2021-01-25 12:17] Robinmcgvr commented on #64
Yep as I said , we will do this later, probably not before end of the week

[2021-01-25 19:10] JonathanETS commented on #64
The system is back and robots running....  prioritizing the sites that can't be recovered.

[2021-01-26 09:51] Robinmcgvr commented on #64
Matteo  has furnished me with a list of the sites that we will not be able to recover data from. I am going through these to see which cover essential data and what can be captured from the alternative sources we have.
There will unfortunately still be some data missing.
But we are lucky really that this happened over the weekend which meant a smaller amount of data was lost.

[2021-01-29 08:41] Lynne12 opened #65 "Greece online scheduling - ishow.gr"
@Robinmcgvr FLMG is missing data for the following November dates:-

5,11,16,17,26

[2021-01-29 09:21] Robinmcgvr commented on #65
@Lynne12
can you confirm which source you were using please?

[2021-01-29 09:27] Robinmcgvr commented on #65
and this is channel Nova Cinema 1?

[2021-01-29 09:49] Lynne12 commented on #65
ishow.gr, the only regular source we use for Greece. It is ETS channel FLMG. Those are the only details I have recorded.

[2021-01-29 09:52] Robinmcgvr commented on #65
ok thanks, as this is the kapow repository we do need those details

[2021-01-29 09:54] Robinmcgvr commented on #65
@Lynne12
Upshot is data will not be recoverable at this stage , I have though alerted Matteo to this as it does seem the downloads are somewhat erratic for the source and looks like there will be more days missing for certain channels going forwards too

[2021-01-29 10:12] Robinmcgvr commented on #65
Also asked if he can restore channels to pathfinder.gr if possible, so that we have a secondary source going forwards

[2021-01-29 10:15] Robinmcgvr opened #66 "mi.tv brazil"
@JonathanETS
Have requested Matteo add the channels BAND,SBT, GLOBO , REDE TV, RECORD and GAZETA (if he can find it)

[2021-01-29 12:46] Robinmcgvr commented on #64
I think it would be a good idea to refrain from attempting to load any data covering the period 23-25 Jan until myself and Matteo have finished the work we are doing on this.
This would save you time and effort reporting and logging missing data, when Matteo and myself are doing the same thing.
I am working on populating the online scheduling list with the info re what's lost and what's not.
I hav

[2021-01-29 12:48] Lynne12 commented on #64
I haven't loaded anything, apart from Netherlands, which was all there.

[2021-02-01 13:43] Robinmcgvr commented on #64
@Lynne12
@GoodallE
@Ma-rco
@JonathanETS
I have sent you all data covering what was lost and what has been recovered etc

[2021-02-02 14:02] Lynne12 commented on #64
@Robinmcgvr there are anomalies in the list you have emailed me.  Some things marked as missing are recovered, or were never missing in the first place and others that are marked as recovered are not.  I will email you a copy of the list amended where necessary.

[2021-02-02 15:20] Robinmcgvr commented on #64
@Lynne12
The six changes have been noted - are you able to work off the alternative sites suggested?
N.B. Hungary HBO is available from tvmusor.hu
When you have loaded everything let me know what is still outstanding - I presume you will log these gaps in your issues chart?
Otherwise let's set up another page here to list those, so in a central location for easy reference

[2021-02-03 07:41] Lynne12 commented on #64
I don't think we need any more pages for missing data.  Any remaining can be logged on the January online scheduling page, once I have recovered any that I can from alternate sources.  I already have multiple Github pages that I have to complete and monitor.  It is starting to get confusing.

[2021-02-04 11:58] Lynne12 commented on #65
@Robinmcgvr FLMG is also missing 19-22 January 2021

[2021-02-04 12:03] Robinmcgvr commented on #65
Yes as Matteo informed us, the site does not always display the channel, so in those cases we won't get data - we don't know why
This is also the case with pathfinder, so it must be something to do with the channel

[2021-02-12 08:19] Lynne12 commented on #65
FLMG is missing data for the following December 2020 dates:-
1,3,7,8,10

[2021-02-12 11:31] Robinmcgvr commented on #65
Ok I will see if it is available in any of our other downloads, but as mentioned before sometimes there just aren't any listings for this channel from any source

[2021-02-15 11:20] Robinmcgvr opened #67 "Thailand - tvsmagazine"
@GoodallE
@Ma-rco
We are  missing some data from site tvsmagazine for 04/02/2021
Hope that's not too much of a problem

[2021-02-15 11:26] GoodallE commented on #67
On 2021-02-15 11:20, Robinmcgvr wrote:

No we don't really get much on here anyway. So if anything it should
follow a pattern.

Thanks

Emma

[2021-02-15 11:31] Robinmcgvr opened #68 "Canada - tvguide.com.ca"
We are unable to pull data from the site tvguide.com.ca
We are however able potentially to get this from the USA version of the site.
Matteo is looking into adding the following channels to the USA kapow robot ,

TVO
--
GLBHD
OMNI1HD
CTYTH
CTVTO
YESTV
CTV2T
W
SC-HD
DRAMA
SCIFI

I will report back when this is set up

[2021-02-15 12:03] Robinmcgvr commented on #65
@Lynne12
That december greece data is not recoverable. I have asked Matteo to try setting up new version of the Nova tv guide to see if that helps the situation going forwards

[2021-02-24 13:55] Lynne12 commented on #65
FLMG is missing data for the following February 2021 dates:-
14-18

[2021-02-24 14:37] Robinmcgvr commented on #65
Thanks I have had a bit more of a look into this issue now, the constant loss of data for this channel 'Nova Cinema 1'.
What I have found out is that a bit like Sky Movie channels there is a tendency for the channel to change its name seasonally or themed in some way. This would explain why it disappears from all sources simultaneously.
Some good news and not necessarily explained by what I said a

[2021-03-01 11:27] #50 closed, assigned to Lynne12, Robinmcgvr

[2021-03-01 11:27] #53 closed, assigned to nobody

[2021-03-01 11:27] #56 closed, assigned to Lynne12, JonathanETS, Robinmcgvr, Ma-rco

[2021-03-01 11:28] #61 closed, assigned to Lynne12, JonathanETS, Robinmcgvr, GoodallE, Ma-rco

[2021-03-01 11:29] #67 closed, assigned to Robinmcgvr, GoodallE, Ma-rco

[2021-03-01 12:57] Robinmcgvr opened #69 "Hungary - tv2.hu"
This site doesn't seem to have a guide on it any more.

[2021-03-01 12:58] Robinmcgvr opened #70 "Japan - yanbe.net"
This site has become problematic - constantly failing
I am unable to access the site at all currently.
Matteo is aware that there are problems, but we have been unable to resolve thus far.

[2021-03-05 13:32] Robinmcgvr opened #71 "New site for Netherlands Data"
New site https://tvepg.eu/tr/netherlands/epg/
Matteo been asked to set up , waiting to find out if suitable to download

[2021-03-08 10:11] Robinmcgvr commented on #71
@Ma-rco
This site has now been set up, let me and Matteo know if it's not covering the data you need.

[2021-03-08 10:35] Robinmcgvr commented on #1
Hungary - tv2.hu  site is now subscription only

[2021-03-08 10:36] Robinmcgvr commented on #1
Japan - yanbe.net has become very unreliable - may be becoming defunct

[2021-03-08 10:38] Robinmcgvr opened #72 "Belgium - cinetelerevue.be"
Data for 3-22 March currently missing - Matteo notified

[2021-03-08 10:40] Robinmcgvr opened #73 "Greece Ishow"
I show Greece has missing data covering 6& 7 March - Matteo notified

[2021-03-08 10:41] Robinmcgvr opened #74 "Peru - Americatv.com.pe"
Data is missing from americatv.com.pe for 28/02 - 02/03

[2021-03-08 10:42] Robinmcgvr opened #75 "Ukraine - 1plus1.ua"
Data for site 1plus1.ua is missing for 5-7 March

[2021-03-08 11:19] Ma-rco commented on #71
will do! 👍🏼

[2021-03-09 09:11] Ma-rco commented on #71
Are we able to download from the beginning of the year with this site? sorry probably should have asked before...

[2021-03-11 11:59] Lynne12 commented on #65
FLMG is missing data for the following March 2021 dates:-
2,3,4,5,6,7

[2021-03-11 12:03] Robinmcgvr commented on #65
Is that the case on the new source too?

[2021-03-11 12:05] Lynne12 commented on #65
I haven't looked. Your previous comment said you would be monitoring it.  At present ishow.gr is our primary loading source and I am reporting missing dates for that source.

[2021-03-11 12:06] Robinmcgvr commented on #65
ok cheers I will check it out

[2021-03-11 12:13] Robinmcgvr commented on #65
re. the march dates , yes we do have the data on nova.gr - unfortunately we only restarted pulling from this source after 19th Feb so it won't fill our other gaps

[2021-03-15 13:06] Robinmcgvr commented on #72
@Lynne12
Update on this site:
Site is down for now due to a fire at the webhost acc. their website
They have set up a temporary service for now , I will see if Matteo can pull this data

[2021-03-15 13:16] Robinmcgvr commented on #72
N.b this is also affecting moustique.be but they are only offering a digital version of their magazine

[2021-03-17 09:34] Robinmcgvr commented on #72
Latest from Matteo re. Moustique and Cinetelerevue is that the data they are offering at the moment is from the tv-programme.telecablesat.fr site.
They are working on restoring the servers and hope to have this under way from the 22nd March.
So we will have to see how things are by then.

[2021-03-17 14:06] Lynne12 opened #76 "France-tv-programme.telecablesat.fr"
@Robinmcgvr the above is missing the following dates:-

10-15 March 2021

[2021-03-17 14:10] Lynne12 opened #77 "Belgium - moustique.be"
@Robinmcgvr the following dates are missing:-

10-22 March 2021

I am aware this is mentioned in #72 but I need to keep a separate note of the date range for each website.

[2021-03-17 14:50] Robinmcgvr commented on #76
Hopefully we'll get this data back once the servers are restored

[2021-03-17 14:56] Robinmcgvr commented on #76
If we are still stuck for data after their recovery or before if needed, most channels are available from programme-television.org
inc. AB3

[2021-03-22 10:14] Robinmcgvr commented on #73
6 lost , 7th recovered , site still has missing data 18-21 March too

[2021-03-22 10:14] Robinmcgvr commented on #77
this is still affected by the fire

[2021-03-22 10:15] Robinmcgvr commented on #72
Still affected by the fire

[2021-03-22 10:16] Robinmcgvr commented on #71
The site seems to have stopped downloading again now, Matteo alerted, i doubt we will be able to go back to the beginning of the year unless you know that you can go back this far on that data?

[2021-03-22 10:16] Robinmcgvr commented on #70
site now seems to be defunct

[2021-03-22 10:17] Robinmcgvr commented on #75
recovered now

[2021-03-22 10:17] #75 closed, assigned to Lynne12, Robinmcgvr

[2021-03-22 10:18] Robinmcgvr commented on #76
this site is still affected by the fire

[2021-03-22 10:20] Robinmcgvr opened #78 "Brazil axn.br"
We are missing data from this site from 14th March - there doesn't seem to be a guide on the site currently

[2021-03-22 10:21] Robinmcgvr opened #79 "South Korea - naver.com"
This site is being problematic

[2021-03-22 10:22] Robinmcgvr commented on #79
Not sure if this is used for OPR or not

[2021-03-22 10:22] Robinmcgvr opened #80 "Sweden tv-table.se"

[2021-03-22 10:36] Lynne12 commented on #80
Why have you assigned me here Robin?

[2021-03-22 11:19] Lynne12 commented on #73
7th March data loaded

[2021-03-22 11:48] Robinmcgvr commented on #80
@Lynne12
It's one of back up sources for sweden
Thought you might want to know ...

[2021-03-22 11:55] Lynne12 commented on #80
You haven't put anything in the description box.  You have just opened the issue with a subject and the box for the description of the issue is empty.

[2021-03-22 12:42] Robinmcgvr commented on #80
oh yeah! 16-22 March affected

[2021-03-22 13:04] Lynne12 commented on #80
It's a main source for online loading for channels CSF1, CSF2

[2021-03-23 10:15] Ma-rco commented on #71
Yes the site does go back - I haven't able to use the downloads yet as the verified hasn't been done until the first date of the downloads. Should be able to let you know if the downloads are useful or not this week 🤞🏼

[2021-03-23 10:17] Ma-rco commented on #79
yes this is the main site we use for South Korea

I've noticed some missing days recently - hopefully can get back to normal 🤞🏼

[2021-03-23 10:34] Robinmcgvr commented on #71
Latest from Matteo on this is that there were channels missing from the site- there has been a big fire at one of the European server companies affecting lots of sites , Matteo thinks this could be one of them.
So we will have to see if this improves once all the data recovery work at this hosing firm has been sorted .

[2021-03-23 10:34] Robinmcgvr commented on #79
Those missing days 16-21 March cannot be recovered

[2021-03-23 11:04] Ma-rco commented on #71
Oh dear!

[2021-03-23 11:05] Ma-rco commented on #79
ok thanks for the update

[2021-03-23 11:21] Ma-rco commented on #79
The channels we normally use are Fox, FX and FoxLife. These seemed to have stopped since the beginning of the year - I assume any of this can't be recovered either...?

[2021-03-23 12:22] Robinmcgvr commented on #79
Are these channels that changed their names, there has been a lot of this lately?

[2021-03-23 13:05] Ma-rco commented on #79
oh I'm not sure if they have or not... I'd have to look into that

[2021-03-23 13:29] Ma-rco commented on #79
Yup they all have closed - Fox was replaced by Channel NOW but can't seem to find it on our downloads

[2021-03-23 17:35] Robinmcgvr commented on #79
I can't see that channel on the naver site

[2021-03-29 08:42] Robinmcgvr commented on #77
@Lynne12
Work is still under way to recover the data, the site is back up and Matteo is working on it.
also #72
Some french sites affected too.

[2021-03-29 08:45] Robinmcgvr commented on #73
18-21 March now recovered

[2021-03-29 08:54] Robinmcgvr commented on #80
Data still missing from tv-tabla.se cannot be recovered pre 26/03 - but data is available from Viasat.se

[2021-03-29 09:24] Robinmcgvr commented on #71
we're still waiting to see if data is going to be recoverable for this one

[2021-03-29 10:30] Lynne12 commented on #80
Data on Kablam starts from 27th March.  16-26 March loaded from Viasat.se, to fill the gaps on CSF1 & CSF2

[2021-03-30 16:22] Robinmcgvr opened #81 "GERMANY SKY.DE DATA"
kapow  germany Fox HD   from Sky.de....   coverage stops of March 15th 2021...   would be good to get this back if possible

[2021-03-30 16:49] Robinmcgvr commented on #81
Matteo emailed

[2021-04-07 14:02] Lynne12 opened #82 "Romania online scheduling - a1.ro"
@Robinmcgvr above website is missing 31 March - 12 April 2021

[2021-04-07 14:41] Robinmcgvr commented on #82
Thanks, yep I am aware and it has been reported to Matteo

[2021-04-12 09:18] Robinmcgvr commented on #82
@Lynne12
Downloads for this site are still failing and we are unable to go back on the site.
So we will have to use an alternative loading source until the robot for this one is fixed - if that is actually possible to do.

[2021-04-12 09:20] Robinmcgvr commented on #73
7-19 April missing

[2021-04-19 08:13] Lynne12 commented on #82
Data 31 March - 12 April 2021 has been loaded from program24.ro

[2021-04-21 12:40] Lynne12 opened #83 "Switzerland-teleclub.ch"
@Robinmcgvr 15th April is missing for the above site.  This relates to channels TCBZ=blue Prime and TCBS=blue Action

[2021-04-21 16:12] Robinmcgvr commented on #83
Thanks Lynne, a case of where we have the day's data but not the channel we want, so it doesn;t get spotted by the kapow check.
The data is still available on the site so I will see if Matteo is able to recover it for us.

[2021-04-23 11:08] Robinmcgvr commented on #83
Unfortunately Matteo did not manage to recover the data from teleclub.ch in time
BUT we do have the data in the tv.search.ch downloads as 'Teleclub Action' and 'Teleclub Prime'

[2021-04-26 07:07] Lynne12 commented on #83
@Robinmcgvr you don't need to keep assigning me on this.  I created the issue, so I will always receive an update when a new entry is added.

[2021-04-26 08:58] Robinmcgvr commented on #73
We are having further issues with ishow - potential ones
Matteo is having some problems with the way the channels are labelled on the site now, they are using graphics or flash for the logo.
He has tried something he hopes will make it work - but he is not sure it will.
We may have to consider not using this as the main download source.

[2021-04-26 09:11] Robinmcgvr commented on #73
He has though recovered data back to 14th April

[2021-04-26 09:36] Robinmcgvr commented on #73
re assignation, there was a problem with, or there appeared to be, you receiving messages from me via github a couple of months back so I make sure we are both assigned to everything to prevent that from happening again.

[2021-04-26 09:44] Robinmcgvr commented on #83
re assignation, there was a problem with, or there appeared to be, you receiving messages from me via github a couple of months back so I make sure we are both assigned to everything to prevent that from happening again.

[2021-04-26 09:53] Robinmcgvr opened #84 "OPR SITES - FOX.TV.NO & LA.AXN.COM"
There are problems with the above sites which I have listed as being ones used for OPR
Foxtv.no now redirects to disney plus
la.axn.com has changed the format on the site which makes it tricky to pull anything other than Mexico data and even that doesn't seem to be working.
If this is one you particularly need, I will ask Matteo to do some more work on trying to restore it.

[2021-04-26 10:08] GoodallE commented on #84
On 2021-04-26 10:54, Robinmcgvr wrote:

we have mi.tv site for LA  so that should be ok and for Norway there we
do rely on fox site for OPR if the data doesn't come in with episodes
on.

Thanks

Emma

[2021-04-26 10:28] Robinmcgvr commented on #84
I think actually that channel Fox Norway has ceased, awaiting confirmation on this

[2021-04-26 10:49] Lynne12 commented on #83
I don't recall never receiving messages from you.  The creator of the issue will always see updates, so no need to assign me, if I have created the issue.  I get emails for all issues, on all repositories.

[2021-04-26 13:01] Lynne12 commented on #73
Data loaded, 14-19 April 2021

[2021-04-26 13:23] Robinmcgvr commented on #84
Yes channel ceased

[2021-04-26 13:23] #84 closed, assigned to Robinmcgvr, GoodallE, Ma-rco

[2021-04-26 14:00] Lynne12 commented on #83
15th April loaded from tv.search.ch

[2021-04-26 14:00] #83 closed, assigned to Robinmcgvr

[2021-04-29 06:48] Lynne12 commented on #82
@Robinmcgvr please can you close this, as the missing data has been loaded.

[2021-04-29 06:49] Lynne12 commented on #80
@Robinmcgvr can this be closed, pleased.  The missing data has been loaded.

[2021-04-29 06:50] Lynne12 commented on #77
@Robinmcgvr is there an update on this, please?

[2021-04-29 06:52] Lynne12 commented on #64
@Robinmcgvr can this be closed now?

[2021-04-29 10:46] #82 closed, assigned to Lynne12, Robinmcgvr

[2021-04-29 10:46] #80 closed, assigned to Robinmcgvr

[2021-04-29 10:47] Robinmcgvr commented on #77
All work has been done on this , so should all be OK now

[2021-04-29 10:48] #64 closed, assigned to Lynne12, JonathanETS, Robinmcgvr, GoodallE, Ma-rco

[2021-04-29 11:06] Lynne12 commented on #77
Missing dates loaded, 16-22 March 2021.

[2021-04-29 11:06] #77 closed, assigned to Lynne12, Robinmcgvr

[2021-04-29 11:08] Lynne12 commented on #76
@Robinmcgvr any update on this please?

[2021-04-29 11:08] Lynne12 commented on #72
@Robinmcgvr any update on this please?

[2021-05-06 09:48] Lynne12 commented on #65
@Robinmcgvr novacinema1 finished on ishow.gr (Kablam) on 7th April 2021.  Do you know what the new name is for this channel?

[2021-05-06 09:51] Lynne12 commented on #65
@Robinmcgvr shall we now change to this source, due to the continual problems with ishow.gr?

[2021-05-06 10:32] Robinmcgvr commented on #65
sounds like a good idea

[2021-05-07 07:07] Lynne12 commented on #76
@Robinmcgvr are you able to provide an update on this missing data, please?

[2021-05-07 07:07] Lynne12 commented on #72
@Robinmcgvr are you able to provide an update on this please?

[2021-05-07 08:34] Lynne12 commented on #66
@Robinmcgvr is there an update on this?

[2021-05-07 09:05] Robinmcgvr commented on #72
@Lynne12
data there in kablam

[2021-05-10 08:19] Robinmcgvr commented on #66
@Lynne12
yes what could be found was done. There was a bit of confusion about which Gazeta vsn we wanted, but it's available in Kablam now

[2021-05-10 08:19] #66 closed, assigned to JonathanETS, Robinmcgvr

[2021-05-10 08:22] #81 closed, assigned to JonathanETS, Robinmcgvr

[2021-05-10 08:23] #72 closed, assigned to Lynne12, Robinmcgvr

[2021-05-10 08:23] #69 closed, assigned to Robinmcgvr, GoodallE, Ma-rco

[2021-05-10 08:23] #73 closed, assigned to Lynne12, Robinmcgvr

[2021-05-11 08:04] Lynne12 commented on #76
@Robinmcgvr you closed this, without update.  There is still no data on Kablam, for this website.  Will it be recovered?

[2021-05-11 09:04] Lynne12 commented on #65
I will load 2-7 March, from nova.gr.

[2021-05-11 09:04] #65 closed, assigned to Lynne12, Robinmcgvr

[2021-05-11 09:52] Robinmcgvr commented on #76
@Lynne12
What was able to be recovered was recovered, and is in kapow - I see the file sizes are smaller for that mid march period so we may be missing some channels.

[2021-05-13 09:44] Robinmcgvr opened #85 "mymovies.it"
We are having problems with downloads from this site since 5th May
It looks to me like the format of the website may have changed, the last lot of downloads look rather odd too.
Is this a site you use for OPR? I have it down as one.
I am asking Matteo to see what he can do with it, but if it is not one of your 'go to' sites, can you let me know?

[2021-05-13 09:49] GoodallE commented on #85
On 2021-05-13 10:44, Robinmcgvr wrote:

This isn't a primary source for us, it's more of a last resort if
nothing else has info.

Thanks

Emma

[2021-05-13 09:57] Robinmcgvr commented on #85
Ok,Thanks

[2021-05-13 13:30] Lynne12 commented on #76
All channels missing date found on the following websites:-

programme-television.org & programme-tv.net

[2021-05-20 09:46] Lynne12 opened #86 "Switzerland: teleclub.ch"
@Robinmcgvr the above website is missing 14th May, used for Teleclub and Teleclub Star.

[2021-05-20 10:27] Robinmcgvr commented on #86
@Lynne12
site is there , but seems the channels are missing unfortunately

[2021-05-20 10:35] Robinmcgvr commented on #86
Have asked Matteo if he can add the data for those two channels, if not we do have back up source.

[2021-05-25 11:42] Robinmcgvr commented on #86
Matteo was only able to recover the data from 15:00 onwards - earlier part of the day could be manually scheduled via tvsearch.ch

[2021-05-26 08:15] Lynne12 commented on #86
@Robinmcgvr **tvsearch.ch does not have Teleclub Star on**.  I have manually scheduled Teleclub from tvsearch.ch. I will load both channels, from 15.00 from teleclub.ch.

[2021-05-26 09:00] Robinmcgvr commented on #86
Teleclub star = Teleclub Action on tvsearch

[2021-05-26 09:25] Lynne12 commented on #86
Teleclub Star manually scheduled from tvsearch.ch.

[2021-05-26 09:25] #86 closed, assigned to Robinmcgvr

[2021-05-31 20:35] Robinmcgvr opened #87 "Sweden TV4Se is back"
Site is back , data recovered from 01/04/2021
Only certain channels though,

[2021-06-21 08:58] Robinmcgvr opened #88 "GREECE ANTENNA.GR no data from 14th June"
This site doesn't seem to have a tv guide on it any more, that I can find or access anyway.
it's possible one can get it by logging in, I am getting Matteo to look into it.

[2021-06-30 10:27] Lynne12 opened #89 "Switzerland - rts.ch"
@Robinmcgvr this website is missing date for 15-20 June, for the ETS channels, TSI1 and TSI2.

[2021-06-30 12:01] Robinmcgvr commented on #89
Thanks, we should be covered by other sources if this isn't recoverable

[2021-07-05 10:25] Robinmcgvr commented on #89
Hi Lynne that data is not going to be recoverable , it is not on the site for those dates.
We do have the channels covered by rsi.ch , so you will need to load that week from that site.
rts.ch looks ok after that.

[2021-07-06 09:45] Lynne12 commented on #89
Data loaded, to fill gaps, from rsi.ch

[2021-07-06 09:45] #89 closed, assigned to Robinmcgvr

[2021-07-19 11:06] Robinmcgvr opened #90 "Korea - new sites"
tv.kt.com
obs.co.kr

Matteo is still sorting the downloads from these sites.
Top one should cover all the channels we need, will let you know when the work complete

[2021-07-21 16:07] Robinmcgvr commented on #76
16-23 March never loaded for Teva
Missing data for Teva was available from programme-television.org - this doesn't seem to have been loaded for some reason
Now having to manually add this -
Obv this goes back to the above issues, but we have still ended up with gaps in data when we had stuff to fill it - nause

[2021-07-21 16:15] Robinmcgvr commented on #76
16-23 March never loaded for Teva

[2021-07-21 16:20] Robinmcgvr commented on #76
Can we get the data loaded from programme-television.org?
I can process it, saves time rather than manually scheduling it all.

[2021-07-21 16:28] Robinmcgvr commented on #76
Paris Premiere also needs loading 16-23 March

[2021-07-21 16:38] Robinmcgvr commented on #76
Serie Club can be loaded from programme-tv.net for 16-22 March inclusive

[2021-07-21 16:45] Robinmcgvr commented on #76
Cine Cine Premier (cinc) (Cine + premier) also needs loading for 16-22 March

[2021-07-21 16:47] Robinmcgvr commented on #76
Cinf - Cine+ Classic also

[2021-07-21 16:52] Robinmcgvr commented on #76
OK those are the channels most urgently required for the BMI report
I guess this may also affect the other sched channels and maybe data like Belgium etc affected too - this dates back to the issues with the web hosting fire and time taken for sites to be  restored I know.
I won;t keep putting individual details of any more channels here , I will combine so you aren't bombarded with lots more mess

[2021-07-26 10:52] Robinmcgvr opened #91 "sky.de"
We are being blocked from this site.
Matteo has found some work arounds and managed to get some data back for July but this is a lot of work and time for him.
I found a possible alternative source tvspielfilm.de
Matteo is currently seeing if this site is suitable or now

Not sure if this affects OPR or not - Sky channels germany

[2021-07-28 13:00] Lynne12 opened #92 "Portugal - nos.pt"
@Robinmcgvr the above website is missing 19th July 2021

[2021-07-28 13:34] Robinmcgvr commented on #92
@Lynne12
Oh dear that one slipped through the net and won't go back that far , you'll have to use tv.sapo.pt to plug that gap I am afraid

[2021-07-29 09:35] Robinmcgvr opened #93 "MIDDLE EAST MBC2 MBC ACTION"
Schedules for MBC2 and MBC Action have disappeared from both the elcinema.com and mbc.net sites as from the 26/07/2021
Nothing found on the internet about the channels having ceased or being rebranded.
Will need to keep checking this to see if the data comes back

[2021-07-29 12:11] Lynne12 commented on #92
Missing date loaded from sic.sapo.pt (SIC) and tv.sapo.pt (TVI), as these were already set up.

[2021-07-29 12:11] #92 closed, assigned to Robinmcgvr

[2021-08-03 14:18] #76 closed, assigned to Lynne12, Robinmcgvr

[2021-08-13 09:26] Lynne12 commented on #93
@Robinmcgvr data for MBC2 resumed on 10th August and MBC Action on 12th August 2021

[2021-08-13 09:27] Robinmcgvr commented on #93
MBC schedules finally back again, data seems to have restarted from August 12th ,although no downloads for MBC action for that date, but hopefully ok going forwards

[2021-08-18 10:56] #93 closed, assigned to Lynne12

[2021-09-03 15:23] Robinmcgvr opened #94 "Foxmovieseasia.com"
There is currently no guide on this site. As of 1st Sept we have no data
This may be to do with the Disney/Fox situation

[2021-09-06 10:47] Robinmcgvr opened #95 "RTL.NL"
Downloads from this site have ceased - site now redirecting to:
https://www.discoveryplus.no/tv-guide

Hopefully this will get added to the downloads shortly

[2021-09-06 10:48] Robinmcgvr opened #96 "foxtv.it"
Currently no guide on this site, no.info found saying channels ceased , but that may be a possibility

[2021-09-10 16:52] Robinmcgvr opened #97 "FOXMOVIESASIA.COM - HONG KONG"
There is currently no guide on this site

[2021-09-13 10:09] Robinmcgvr commented on #91
Still no luck with this site - we may not be able to get this one back

[2021-09-13 10:12] Robinmcgvr opened #98 "mojtv.net-rs - SERBIA"
We are missing two days from this source currently, 11th & 12th Sept - have asked Matteo to fix but we may lose a day or two

[2021-09-13 11:09] Lynne12 opened #99 "Hong Kong - tvb.com"
@Robinmcgvr the above website is missing 19th August data.  This is used for TVBP.

[2021-09-13 11:13] Robinmcgvr commented on #99
Thanks Lynne , yes I am aware, but we will have to do without that day, sorry

[2021-09-13 11:15] #99 closed, assigned to Robinmcgvr

[2021-09-17 10:31] Robinmcgvr commented on #98
This not been fixed yet - but is being worked on, there will be a lag on this data , but shouldn't really affect anything

[2021-09-17 10:35] Robinmcgvr opened #100 "tvnorge.no"
This site now redirects to 'discoveryplus.no'
Some data was lost , but data starts on the new source from 15/09/2021

[2021-09-23 08:17] Lynne12 commented on #98
@Robinmcgvr missing 19th & 20th September too.

[2021-09-23 08:18] Lynne12 opened #101 "Portugal - nos.pt"
@Robinmcgvr data missing for 19th September

[2021-09-23 08:18] Lynne12 opened #102 "Switzerland - teleclub"
@Robinmcgvr data missing 16-20 September 2021

[2021-09-23 08:58] Robinmcgvr commented on #98
@Lynne12
I will check this with Matteo, but there is a known issue with this site actively blocking us and Matteo is having to do a work around to pull the data from the source - the data usually appears a few days later

[2021-09-23 08:58] Robinmcgvr commented on #101
Yes this has been reported

[2021-09-23 08:59] Robinmcgvr commented on #102
@Lynne12 - Reported to Matteo

[2021-09-23 09:17] Robinmcgvr commented on #102
This site looks like it has ceased and we need to set up a new one https://tv.blue.ch/tv-guide
In the meantime we should be able to get the required channels from tvsearch.ch, where they are under the names teleclub Action and Teleclub Prime'.

[2021-09-23 16:30] Robinmcgvr commented on #95
Sorry that was a mis type, this site is not redirecting to the norwegain site!

[2021-09-27 10:31] Lynne12 commented on #98
Dates have now appeared and have been loaded.

[2021-09-27 10:31] Robinmcgvr commented on #102
This is still being worked on

[2021-09-27 10:31] Robinmcgvr commented on #101
data has not been recovered

[2021-09-27 10:33] Robinmcgvr opened #103 "Sweden - viasat.se"
@Lynne12
Another site that is now redirecting elsewhere , but there is no data on the redirected site.
Data for channel V film premiere is available from tv-tabla.se
It is probably going to best to switch to that source for loading as this may take a while to sort itself out.

[2021-09-27 10:51] Lynne12 commented on #103
@Robinmcgvr I have made the website switch.

[2021-09-27 11:24] Robinmcgvr commented on #98
N.B. This will be an ongoing thing, due to the way Matteo is having to deal with this data - so we can expect this site to be several days behind visibly for the foreseeable future.

[2021-09-30 10:01] Lynne12 commented on #102
21-27 September also missing.

[2021-09-30 10:40] Robinmcgvr commented on #102
See above

[2021-09-30 10:43] Robinmcgvr commented on #102
Matteo has now set up the new robot for site blue.ch - We need to get Richard to add it to Kablam etc.
depending on how long that takes, there is the alternative source available 'tvsearch.ch'

[2021-10-01 10:00] Lynne12 commented on #102
Will hang fire for now, as we still have August scheduling to be worked on.

[2021-10-01 17:09] Robinmcgvr opened #104 "TAIWAN - fng.tw"
@Lynne12
fng.tw seems to have ceased as of the 28th Sept - a bit of a disaster!
There seems to be a new version called dng.tw - I have alerted Matteo and asked him to try and grab this one instead.
Fingers crossed this will work!

[2021-10-04 08:01] Lynne12 commented on #104
Let me know when this is ready, as I will need to make changes to the Data loader.

[2021-10-04 10:31] Robinmcgvr commented on #104
@Lynne12
We have data from the new source going back to 1st September
I have asked Richard to add it to Kablam - It may be that because this site has a slightly different format to the fng.tw that we may be able to load Star Movies HD data in english now which would be nice!

[2021-10-04 12:15] Robinmcgvr commented on #103
we are pulling data from this site again now but we are still missing a chunk, so it is probably best to stick to the alternative you switched to unless this turns out to be unsatisfactory.

[2021-10-05 05:51] #103 closed, assigned to Lynne12

[2021-10-06 09:06] Lynne12 commented on #102
For reference, total date range now missing is 16 September - 4 October 2021.

[2021-10-06 09:06] Lynne12 commented on #98
For reference, data missing 30 September - 4 October

[2021-10-06 09:17] Robinmcgvr commented on #102
@Lynne12
The site has ceased but the new source blue.ch is now available covering data back to September 1st

[2021-10-06 09:27] Robinmcgvr commented on #98
This is to be expected as mentioned before

[2021-10-06 13:17] Lynne12 opened #105 "Germany - tvtv.de"
@Robinmcgvr the above website is missing 30th September.

[2021-10-06 13:34] Robinmcgvr commented on #105
yes thanks I am aware

[2021-10-06 13:56] Lynne12 commented on #105
With any of these issues that  you are aware of  that relate to online scheduling can you please raise this, so that I know what is happening, please?  I am only finding these out when I come to load the data.

[2021-10-06 14:04] Robinmcgvr commented on #105
sure, as there hasn't been much time for Matteo to resolve the issue i would wait on informing you once I know it is not recoverable. If it told you every time a day was missing (temporarily) it would be a bit of a waste of time.
But I suppose beginning and end of month dates most urgent so I will bear that in mind.

[2021-10-06 14:09] Robinmcgvr commented on #105
As Matteo seems to have dragged his heels on this one and not responded to the level 1 reporting method - I have now emailed him. Data is still available on the site so hopefully he will be able to sort it.

[2021-10-06 15:20] Robinmcgvr commented on #105
n.b. all the required channels are available from tvmovie.de if we can't get it - but i think it looks hopeful.

[2021-10-07 08:30] Robinmcgvr commented on #105
Matteo is working on recovering the data - he will let me know when it's ready

[2021-10-07 10:17] Robinmcgvr opened #106 "South Korea Channel MX"
We are missing data for channel MX - have asked Matteo to add it to the imtcast.com downloads

[2021-10-07 10:18] Robinmcgvr opened #107 "Syfy.de"
Matteo has set up a new robot for this site - it now needs to be added to Kablam

[2021-10-07 11:21] Robinmcgvr opened #108 "3+ Danmark"
Have requested the channel 3+ be reinstated to tv.nu data.
Also to start a robot for https://tvepg.eu/en/denmark

[2021-10-07 12:27] Lynne12 opened #109 "Hong Kong - epg.i-cable.com - online scheduling loading week 28 Sep - 4 Oct 2021"
@Robinmcgvr various dates missing for all channels for date range, 29th September - 4th October.

[2021-10-07 13:45] Robinmcgvr commented on #109
ok thanks, the days are all there but i can see the file size changed, I shall investigate

[2021-10-07 13:55] Robinmcgvr commented on #109
Ah as I suspected the channels have ceased to air, this is part of the Disney switch over to streaming
https://tbivision.com/2021/04/28/disney-to-close-18-channels-in-asia-as-streaming-focus-expands/
So we can drop these channels - but keep SMHD and the Taiwan still seem to be happening but as Star channels

[2021-10-08 05:58] Lynne12 commented on #109
@Robinmcgvr please confirm which channels are to remain for Hong Kong online scheduling and which can be dropped, please.

[2021-10-08 08:58] Robinmcgvr commented on #109
Well we can't schedule the ones that no longer exist and we can those that do!
So TVB , Star Movies HD we keep doing

[2021-10-08 09:01] Robinmcgvr commented on #109
We should do the channels as far as the data goes - so up to end of september

[2021-10-08 09:19] Lynne12 commented on #109
Thanks for the response, although I don't think the tone was necessary.  I was asking a civil question, which you were able to answer easily, without me having to do a lot of research.

[2021-10-08 16:17] Robinmcgvr commented on #105
@Lynne12
30th September has been recovered - all required channels are there

[2021-10-08 17:07] Robinmcgvr commented on #101
We didn't get this back so we'll have to use the other sources, prob easier to manually schedule that one day then mess about with loader - I'll try and get that done

[2021-10-08 17:09] Robinmcgvr commented on #102
Site been added to Kablam so you should be able to proceed with this now

[2021-10-08 17:10] Robinmcgvr commented on #97
Site ceased as have channels

[2021-10-11 06:20] Lynne12 commented on #105
Thanks, this needs to remain open, until I have done the work to pull and load the data, at which time I will close it.

[2021-10-11 09:17] Lynne12 commented on #105
Data loaded for 30th September 2021

[2021-10-11 09:17] #105 closed, assigned to Robinmcgvr

[2021-10-11 09:33] Lynne12 commented on #98
Data loaded 30 September - 4 October

[2021-10-11 09:34] Lynne12 commented on #101
Thanks, can you update here, if you do get that scheduled.

[2021-10-11 09:44] Lynne12 commented on #102
Richard has been requested to set up new website on the data loader, after which time I shall load the missing date ranges for both channels.

[2021-10-11 10:15] Lynne12 commented on #109
epg.i-cable removed from online scheduling, for the following channels:-

STAR WORLD (Fox Life)
STAR MOVIES (Fox Movies) (STMO)
NAT GEO
FOX FAMILY MOVIES
FAX ACTION MOVIES

[2021-10-11 10:15] #109 closed, assigned to JonathanETS, Robinmcgvr

[2021-10-11 15:29] Robinmcgvr commented on #101
Done

[2021-10-12 06:37] #101 closed, assigned to nobody

[2021-10-14 08:25] Lynne12 commented on #104
@Robinmcgvr is there any update on this, please?

[2021-10-14 08:25] Lynne12 commented on #98
Missing 9-11 October.

[2021-10-14 08:30] Lynne12 opened #110 "Sweden - tv-tabla.se"
@Robinmcgvr Missing 11th October 2021

[2021-10-14 09:04] Robinmcgvr commented on #98
we should get this data tomorrow -Matteo is having to do extra processes for this source

[2021-10-14 09:04] Robinmcgvr commented on #104
Data is in Kablam and ready to go - starts from 01/09/2021

[2021-10-14 09:05] Robinmcgvr commented on #104
We have the star movies HD in english now - and it is called smithhd in the new source

[2021-10-14 09:09] Robinmcgvr commented on #110
Thanks as I check the data mondays and fridays this hadn't been logged yet - have added it to Matteo's chart

[2021-10-14 09:27] Robinmcgvr commented on #110
To give further background - the robots pull data in at different times of day so although data was checked on monday morning because data for sweden comes through in the afternoon, it wouldn't be visible as being missing in the morning.

[2021-10-18 10:21] Robinmcgvr commented on #110
@Lynne12
Still no progress on this one, not heard anything back from Matteo, if I don't hear anything today I will chase him up again

[2021-10-19 13:13] Lynne12 commented on #104
@Robinmcgvr before I get Richard to set this up Kablam has the channel listed as smithd, as oppose to smithhd from your comment above.  Can you please confirm which it is please?

[2021-10-19 13:14] Robinmcgvr commented on #104
smithd is the one

[2021-10-19 13:28] Lynne12 commented on #104
@Robinmcgvr just to confirm that from 28th September 2021 data we will no longer need the SMHD translations list.

[2021-10-19 16:02] Robinmcgvr commented on #104
Further to that, could we could load the data for Fox Movies Taiwan too maybe?
That would mean Taiwan would need to be set up for online scheduling I realise... what do you think?
Debbie could still work on it if you don't want to give it to the schedulers ...

[2021-10-20 07:20] Lynne12 commented on #104
Sounds good.  There is a lot of work on that channel for manual scheduling.  I will give it to the schedulers, as they have lost several channels with the changeover of some Czech and some Romania to verified.  Let me know if this is to go ahead.

[2021-10-20 07:56] Lynne12 commented on #104
@Robinmcgvr could you prepare the SMHD for 1-27 September 2021 please.  I have just allocated this country to the schedulers, as they are nearing the end of August online scheduling.

[2021-10-20 09:09] Robinmcgvr commented on #104
Cool the plan to give the schedulers Taiwan Fox Movies is a go from me.
I will get that SMHD done today or tomorrow.

[2021-10-20 11:22] Lynne12 commented on #110
Further data missing 12-18 October 2021

[2021-10-20 11:23] Lynne12 commented on #98
Missing 12,13,17,18 October.

[2021-10-20 11:25] Robinmcgvr commented on #110
Thanks I have reported this and emailed to Matteo earlier in week, still not getting anything back from him on that one though - don't know what the problem is

[2021-10-20 11:25] Lynne12 commented on #98
Date range recovered and loaded.

[2021-10-20 12:47] Lynne12 commented on #104
@Robinmcgvr can you just confirm that these are the correct channel details, for Taiwan Fox Movies, taken from Kablam:-

**dngtw.tw | foxmovies**

[2021-10-20 13:49] Robinmcgvr commented on #98
@Lynne12
I am a bit confused about where you are getting this information from as in the kapow folder 9-14 still shows as missing
OK looked at this in kablam and I am getting data for e.g. Pink Premium for 9th and 10th , but these dates don't show up in kapow data - I think that what you have loaded is incorrect.
I am seeking more inf. from Matteo about this - but i suspect something has gone weir

[2021-10-20 14:13] Robinmcgvr commented on #104
yep that is correct but n.b. in studio the channel is still called STAR MOVIES

[2021-10-20 14:31] Robinmcgvr commented on #98
@Lynne12
I have deleted data from 'Kingsman' onwards starting 09/10 -11/10/2021
Only on Pink Premium at this point, but the other channels will all be wrong too

[2021-10-20 14:36] Robinmcgvr commented on #98
If you are waiting on data and you haven't been informed that it has been recovered be cautious about going ahead and loading it.
I think this is a one off what has happened here with Kablam and thank goodness you did say you had loaded it.

[2021-10-21 06:11] Lynne12 commented on #98
@Robinmcgvr when there are gaps and the data is recovered it is always loaded from Kablam.  I have no way to pull and load it from any other source.  If you have another way then can I suggest that when data is recovered you load it and make a note here please.  This would apply to any country with data gaps and recovery.

[2021-10-21 11:24] Lynne12 commented on #104
I have asked Richard to set this up and will load data from 1st September once it is ready.

[2021-10-21 11:42] Robinmcgvr commented on #110
@Lynne12
Good and bad news on this one.
Robot is now fixed - data has not been recovered and won't be.
BUT - V Film Premiere is available for the dates 11-19/10 from viasat.se

[2021-10-22 16:41] Robinmcgvr commented on #98
@Lynne12
OK data is sorted
1) loaded data that I have checked looks ok (have undeleted)
2) data is now available to 19/10/2021 (inc) - you are clear to load to that date.
Hopefully we don't get any more cases of invisible data!
We will carry on having a lag with the data for Serbia though

[2021-10-22 17:13] Robinmcgvr opened #111 "Greece - nova.gr"
@Lynne12
19-21 Oct missing
Matteo Alerted

[2021-10-24 10:34] Lynne12 commented on #98
@Robinmcgvr I need to know exactly what data you have deleted, for which channels.  I had loaded all channels to 16 October 2021, with the exception of 12 &13, which I notified you were missing, along with the 17 & 18 missing for this week.

[2021-10-25 09:11] Lynne12 commented on #104
@Robinmcgvr data loaded, from 1st September 2021.  Can you confirm that we will still only need to translate FF and TM for this channel?

[2021-10-25 09:16] Robinmcgvr commented on #104
Yes I can confirm that
I used to edit out the series when i prepped the data - there seem to be phases of series getting shown on this channel. Often there are none ,but some months there are.

[2021-10-25 09:28] Robinmcgvr commented on #104
Another factor in this data is that the last airing of the day will have zero mins. this was the case before too, but I used to adjsut this in the data. If you could ask the inputters to change the air times of these as they go along that would be most useful.

[2021-10-25 09:31] Lynne12 commented on #104
They should do this as a matter of course, as they would with other zero minute durations, but I will let them know to keep an eye out, when I allocate this out for the first time.  This issue can be closed now?

[2021-10-25 09:34] Robinmcgvr commented on #104
Yep, cheers

[2021-10-25 09:34] #104 closed, assigned to Lynne12

[2021-10-25 15:00] Robinmcgvr commented on #98
I undeleted the data for Pink Premium as I said above.

'@Lynne12
I have deleted data from '_Kingsman' onwards starting 09/10 -11/10/2021_
_Only on Pink Premium_ '

'OK data is sorted

loaded data that I have checked looks ok (have undeleted)
data is now available to 19/10/2021 (inc) - you are clear to load to that date.
Hopefully we don't get any more cases of invisible data!
We will carry on hav

[2021-10-25 15:56] Robinmcgvr opened #112 "nos.pt - portugal"
@Lynne12
23/10/2021 currently missing - Matteo alerted

[2021-10-26 08:24] Robinmcgvr commented on #112
Matteo is unable to recover this day, we have it covered by our back up sources, so not too much of a problem

[2021-10-26 08:30] Robinmcgvr commented on #111
Matteo working on this , will let you know when data is ready

[2021-10-26 12:42] Lynne12 commented on #98
data loaded.

[2021-10-27 07:59] Lynne12 commented on #110
V Film Premiere loaded, 11-19 October.

[2021-10-27 08:02] #110 closed, assigned to Robinmcgvr

[2021-10-27 08:04] Lynne12 commented on #102
Data loaded.

[2021-10-29 17:28] Robinmcgvr commented on #98
@Lynne12
You are clear to load to 24/10/2021

[2021-10-29 17:29] Robinmcgvr commented on #111
@Lynne12
Data not been recovered, restarted 25,26 but now no 28 and 29th :-(

[2021-11-01 10:01] Robinmcgvr commented on #111
new robot has been set up for this source - data available to 31/10/2021
BUT still gaps from 19-25 and 28th also missing
I could manually schedule the 28th if that doesn't mess things up for you with the loading .. data will not be available for long though, couple of days maybe,
We have Matteo working on a big job re. Czech data so that is why i am suggesting covering that day's data

[2021-11-01 10:15] Robinmcgvr commented on #111
Ah better news on this now the channel nova cinema 1 is covered by tvepg.eu too
So we can get the data one way or another from there, I will ask Matteo to set this up for Greece, although may take a while, but at least we can recover the lost data from this source and fill our gap!

[2021-11-02 12:40] Robinmcgvr opened #206 "New Zealand Online Scheduling"
Could we change the loading source we use for NZ1 etc to tvnz.co.nz instead please?
This is because that site gives episode info (titles/numbers) in the guides which would also be imported with the data.
Could we start doing that with with October data onwards please?
Let me know if there are any issues with that.

[2021-11-02 13:22] Ma-rco commented on #106
@Robinmcgvr Is it possible to add Channel NOW (formally Fox) to imtcast.com downloads too? the MX downloads seems to have good info from this source 👍🏼

채널나우 (fox채널 편성표) - is how it comes in on naver

[2021-11-03 13:45] Lynne12 commented on #206
tvnz.co.nz only has TVONE and TV2.  Can you confirm these are the correct channels?

[2021-11-03 13:49] Robinmcgvr commented on #206
Yes those are the correct channels

[2021-11-03 13:51] Lynne12 commented on #206
Data is already loaded up to and including 18th October, so any changes will be after that date.

[2021-11-03 13:54] Robinmcgvr commented on #206
OK if that is the earliest date we can do,  if unloading that isn't possible.

[2021-11-04 08:35] Lynne12 commented on #112
Loaded from alternate sources.

[2021-11-04 08:35] #112 closed, assigned to Lynne12

[2021-11-05 08:04] Lynne12 commented on #102
@Robinmcgvr can you please confirm which channel relates to TCBZ (Teleclub) and which to TCBS (Teleclub Star) on the blue.ch website, on Kablam please.

[2021-11-05 08:54] Lynne12 commented on #206
@Robinmcgvr NZ1 and NZ2 loading source changed.  Data loaded from 19th October 2021.

[2021-11-05 10:31] Robinmcgvr commented on #98
@Lynne12
You are clear to load to 31/10/2021
we have data to 02/11/2021 - the few days lag will continue

[2021-11-09 07:00] Lynne12 commented on #102
@Robinmcgvr any answer on this, please.  I believe the data may be loaded on the wrong channels and I need to rectify it, if necessary, for September and October data.

[2021-11-09 10:07] Robinmcgvr commented on #102
@Lynne12
Sorry never saw your earlier message think it got lost among the dozens of emails flooding the inbox - am checking for you now

[2021-11-09 10:09] Robinmcgvr commented on #102
This is what we said back in April 'TCBZ=blue Prime and TCBS=blue Action'
does this not look right now?

[2021-11-10 11:25] Lynne12 commented on #102
That's what I have too.  I think Richard has set up the wrong Kablam source to the wrong ETS channel.  I will get it switched.  This is for data from 16 September, when we made the loading source switch.

[2021-11-10 11:28] Robinmcgvr commented on #102
Oh dear, how annoying, at least it's only very recent data affected.

[2021-11-10 11:33] Lynne12 commented on #102
Yes, luckily Branko picked it up and it hasn't been worked on.

[2021-11-10 11:57] Lynne12 opened #113 "Hong Kong - tvb.com"
@Robinmcgvr 8th November 2021 missing.  ETS channel affected, TVBP.

[2021-11-10 12:11] #102 closed, assigned to nobody

[2021-11-10 12:20] Robinmcgvr commented on #113
This has been recovered and is available in Kablam, so I am not sure why you are unable to load it unless you last tried a couple of days ago

[2021-11-10 12:21] Lynne12 commented on #113
I pulled the file about half an hour ago and it came up as a missing date.  I have looked now and can see that the date is there, so must be an issue with the Atelier file puller.

[2021-11-10 12:24] Lynne12 commented on #113
My error, should have read 6th November.

[2021-11-10 12:29] Robinmcgvr commented on #113
Ah yes I got confused too ! I did request an urgent recovery on this at the beginning of the week.
It hasn't been done, data is still available on the site so I shall chase him on it.

[2021-11-10 12:38] Robinmcgvr commented on #113
Ok requested from matteo again, done an emergency print out in case he can't do it for some reason

[2021-11-12 10:29] Robinmcgvr commented on #113
@Lynne12
6th Nov data now recovered

[2021-11-12 10:53] Lynne12 commented on #113
Data loaded.

[2021-11-15 11:56] Robinmcgvr opened #114 "se.no - Norway"
We have lost data from site se.no as of 10/11/2021
I have this down as being one that is used for OPR
i can't currently see a guide on the site.
I will ask Matteo to investigate.

[2021-11-15 11:56] Robinmcgvr commented on #114
Sorry mistyped earlier data lost from 11th Nov

[2021-11-15 13:01] GoodallE commented on #114
On 2021-11-15 11:56, Robinmcgvr wrote:

This is a secondary site we would use, Norway generally has quite good
data anyway with episodes included.

Thanks

Emma x

[2021-11-16 07:34] Lynne12 commented on #206
@Robinmcgvr can this be closed, please.

[2021-11-16 10:41] #206 closed, assigned to Lynne12

[2021-11-17 09:34] Lynne12 opened #115 "Germany-tvtv.de"
@Robinmcgvr 13th November is missing.

[2021-11-17 09:43] Robinmcgvr commented on #115
@Lynne12
Been reported to Matteo, will let you know when it's been recovered, should be doable.

[2021-11-19 11:30] Robinmcgvr commented on #113
18th Nov missing - requested recovery

[2021-11-22 10:22] Robinmcgvr commented on #115
@Lynne12
13th and 14 now recovered

[2021-11-22 10:30] Robinmcgvr commented on #113
@Lynne12
Data now recovered

[2021-11-23 07:32] Lynne12 commented on #113
This is not loaded yet, so needs to remain open until that happens.

[2021-11-23 08:42] Lynne12 commented on #115
13th loaded.  14th was already there and not missing when I pulled the files last week.

[2021-11-23 09:10] Lynne12 commented on #115
Data is still not available for ETS channel BAYN - Kablam Channel - BR Fernsehen

[2021-11-24 10:02] Robinmcgvr commented on #115
Ah I see what you mean, most of 13th for BR missing, unfortunately we can't go back to that any more.
We can however fill in the gap via data from tvmovie.de
I will put a note on the November scheduling that I need to do that.

[2021-11-25 07:48] Lynne12 commented on #111
Email from @JonathanETS 24th November.  Stop working on channel from 2022.

[2021-11-25 09:21] Lynne12 commented on #111
I am loading data that is available from nova.gr for the following dates, 26, 27, 29, 30, 31 October.

[2021-12-02 10:22] Lynne12 commented on #98
Data missing 27-30 November.

[2021-12-02 10:51] Robinmcgvr commented on #98
Thanks I reported this to Matteo monday - but as he hasn't fixed it yet I will give him a nudge

[2021-12-02 11:14] Robinmcgvr commented on #98
@Lynne12
More re serbia - i wouldn't attempt to load past the 15th November as the data files look very small.
I have raised this and asked Matteo to recover data back to the 16th

[2021-12-02 11:17] Lynne12 commented on #98
Data is already loaded to 26th November.

[2021-12-02 11:21] Robinmcgvr commented on #98
Unfortunately there could be some big gaps so you may want to check that or delete it

[2021-12-02 11:24] Lynne12 commented on #98
Can we not look for another source for this?  This is becoming a weekly issue now and very time consuming.

[2021-12-02 11:33] Robinmcgvr commented on #98
There is no pink premium from 17-20 in the current data, nor PInk family,
Matteo is having to do a lot of work on this data every week - I did warn that there would be issues with the data each week.
But yes it is becoming a big pain now, as have all the other sites we used to use for this.
I am working on reports at the moment so I don't have much time currently to search out new sources right no

[2021-12-02 15:52] Robinmcgvr opened #116 "FIND NEW SOURCE FOR SERBIA?"
TO DO
Data being a pain see if can find a new source for Pink Premium and Pink Family

[2021-12-06 12:45] Robinmcgvr commented on #98
Although we now have full data for 24-29th Nov,  the small data files from 16-20 have not been boosted or had their full data recovered yet.
I emailed Matteo about this last week, and printed out data from site as a back up measure.

[2021-12-06 12:48] Robinmcgvr commented on #98
Pink Family is available from one of our other sources , hence why have only printed out Pink Premium data
This came from our old source tvprofil but we were getting blocked from pulling data from the site, hence why that ceased.
I will also ask Matteo to see if that is still the case

[2021-12-07 11:02] Lynne12 commented on #98
For my reference, as there are a lot of messages on here now.   Missing dates, in Studio, as follows:-

PINK FAMILY - 16-22 November
PINK PREMIUM - 16-22 November

[2021-12-07 11:04] Lynne12 commented on #98
Data recovered in Kablam and will now be loaded.

[2021-12-07 11:49] Robinmcgvr commented on #98
Yeah you beat me to it there, just had notification from Matteo that the data was recovered.

[2021-12-07 11:53] Lynne12 commented on #98
Is the 16-22 recovered for the two channels above?

[2021-12-07 13:21] Robinmcgvr commented on #98
yes it looks ok in kablam

[2021-12-07 14:26] Lynne12 commented on #98
All missing dates loaded.

[2021-12-08 10:44] Lynne12 commented on #115
@Robinmcgvr 5th December is missing.

[2021-12-08 10:45] Lynne12 commented on #113
@Robinmcgvr 1st December is missing

[2021-12-08 10:48] Lynne12 commented on #98
@Robinmcgvr 1-6 December missing.

[2021-12-08 11:47] Robinmcgvr commented on #115
Thanks this was reported to Matteo , seems he recovered the 6th but not the 5th
On the plus side I think the channels we pull from this source may well be redundant for our clients apart from
BR - I can't find any of the other channels in a client list
We have BR data ( & HR, MDR, WDR SWR,NDR , ) in prisma.de - nothing found to enter on BR for this date
so I think we can get away with missing this

[2021-12-08 11:55] Lynne12 commented on #115
@JonathanETS can you confirm if we are needing to continue with any of the following channels, in light of Robin's comment?
The channels we currently schedule are:-

- [x] 3SAT
- [x] BAYN
- [ ] HES3
- [ ] MDRG
- [ ] NRD3
- [ ] RBB
- [ ] SUDW
- [ ] WST3

[2021-12-08 12:01] Robinmcgvr commented on #115
We do still want BAYN (BR) & 3SAT

[2021-12-08 12:05] JonathanETS commented on #115
Yes...  we need to keep  **BR Fernsehen**   and  **3Sat**.

Drop the others...  I used to cover them for Apra and CSCS...  but both of these are now ad hoc.

Good call.

I suppose we are so close to the end of the year that we could keep doing them for the remainder of 2021.   But they are LOW priority...  they should not get in the way of processing other stuff.

[2021-12-08 12:06] Robinmcgvr commented on #113
n.b. correct site name = programme.tvb.com

[2021-12-08 12:12] Robinmcgvr commented on #113
sorry made a typo on that first time!

[2021-12-08 15:31] Robinmcgvr commented on #113
1ST December now recovered

[2021-12-10 12:28] Robinmcgvr commented on #115
tvtv.de 5-6 december now recovered

[2021-12-10 12:38] Robinmcgvr commented on #116
Not having much luck with this, found new site
https://www.telegraf.rs/tv-program/kanali/pink-premium
but this doesn't give english titles
Have found UK version of tvprofil , could be a possible.
Pink premium is only channel we don;t have other sources for currently

[2021-12-10 12:38] Lynne12 commented on #115
Issue needs to remain open until I load the data, otherwise it will get missed.

[2021-12-13 14:26] Lynne12 commented on #115
5th December loaded.  6th was not missing when I loaded data last week.

[2021-12-15 09:20] Lynne12 commented on #98
@Robinmcgvr 7-13 December missing.

[2021-12-15 09:22] Lynne12 commented on #113
@Robinmcgvr 8th December missing.

[2021-12-15 09:48] Robinmcgvr commented on #98
@Lynne12
As you have probably seen I have both Matteo and Richard looking into issues with this data.
I have asked Matteo to try a couple of other sites.
In the meantime the only way to ensure we can plug the gap is to print out the data as I have been doing.
Pink Premium seems to be the only channel that isn't covered by any of our other sources , so that is the one I am focusing on.
The only oth

[2021-12-22 08:49] Lynne12 commented on #115
@Robinmcgvr 17th December 2021 missing.

[2021-12-22 08:50] Lynne12 commented on #98
@Robinmcgvr 19th & 20th December missing

[2021-12-22 08:57] #111 closed, assigned to Lynne12, JonathanETS

[2022-01-04 14:42] Robinmcgvr opened #117 "22ND DECEMBER FAILURE"
All robots failed on the 22nd december
In some (very few) cases it is the data for 21 st or 23rd that is affecte
[LS MS AND NR SITES MISSING DATA FOR 22ND DEC - OR 23RD IN SOME CASES.xlsx](https://github.com/Robinmcgvr/Kapow-Data/files/7808301/LS.MS.AND.NR.SITES.MISSING.DATA.FOR.22ND.DEC.-.OR.23RD.IN.SOME.CASES.xlsx)
Will let you know when or if we recover any of the listed data
The list comprises

[2022-01-04 14:49] Robinmcgvr commented on #117
for the above list LS = loading site, MS = manual scheduling source and NR = New regency

[2022-01-04 15:19] Robinmcgvr commented on #117
GOOD NEWS! This was an error on my part.
Data is prob OK - will confirm later or tomorrow!

[2022-01-04 15:20] #117 closed, assigned to Lynne12, JonathanETS, GoodallE, Ma-rco

[2022-01-04 17:29] Robinmcgvr commented on #98
@Lynne12
This is ok now - data available to 24/12
I have set up a new source, not yet available in Kablam , for channel Pink Premium and may add some others to it .
then we will probably drop mojtv.net-rs

[2022-01-04 17:31] Robinmcgvr commented on #115
@Lynne12
Data still missing but not too much of an issue

[2022-01-05 13:29] Lynne12 opened #118 "Netherlands - tvgids.nl"
@Robinmcgvr data stops on Kablam early hours 23 December 2021.  This is needed for CANN channel. Kablam channel name:

Film 1 Premiere

[2022-01-05 14:13] Robinmcgvr commented on #118
We can cover this from Film.nl - Film 1Premiere.
I will see what can be done about the tvgids.nl site
But we have options if we can't recover it

[2022-01-05 15:14] Robinmcgvr commented on #118
Spoke to JB as he uses data from the site Film.nl for some of his reports.
We both think that it would be worth shifting to using this source for loading.
let me know if there are any reasons you know of why this wouldn't be good to do. I know there are variations in data on film1.nl and tvgids.nl but the film1 site ought to be a better bet.

[2022-01-06 08:34] Lynne12 commented on #98
Data missing 25th December 2021 - 3 January 2022

[2022-01-06 08:36] Lynne12 commented on #113
@Robinmcgvr 25th December also missing.  Any news on 8th December?

[2022-01-06 10:00] Robinmcgvr commented on #113
@Lynne12
We will have to use the print out I did for this day 08/12
25th data not available, site only going back to 30/12

[2022-01-06 10:06] Robinmcgvr commented on #98
As said above data only ready to 24/12
We can cover from our other sources
New site telegraf.rs now in kablam - covering Pink Premium from 24/12 to 05/01
Have asked Matteo to expand the source going forwards to cover all Pink channels, the only one we can't get from here is Pink2
We are going to drop mojtv site

[2022-01-07 09:18] Lynne12 opened #119 "Taiwan - dngtw.tw"
@Robinmcgvr Star Movies is missing 31st December 2021 - 3 January 2022.

[2022-01-07 09:57] Robinmcgvr commented on #119
@Lynne12
I've looked into this and the channel has rebranded to 'Star Movies Gold'

[2022-01-07 10:06] Robinmcgvr commented on #119
Also looks like the Fox channel has gone back to being 'Star World' - more relevant for the manual scheduling side, but logging here for now

[2022-01-07 10:48] Lynne12 commented on #113
@Robinmcgvr are you able to manually schedule the 8th from you print out, please?

[2022-01-07 10:50] Lynne12 commented on #118
@Robinmcgvr I know we had problems with film.nl a long time ago, hence the switch to tvgids.nl.  Please confirm if you definately want to switch back?

[2022-01-07 10:59] Lynne12 commented on #98
I will wait to hear when all is ready at Matteo's end, so that I can set the new source up for all channels that it will cover.  Will also wait for a replacement website for Pink2.

[2022-01-07 11:10] Robinmcgvr commented on #118
@Lynne12
Ok thanks I have looked at the data and I can see that yes there are issues with data from film.nl , the early hours airings are getting matched to the wrong day .
So we are prob better off sticking with tvgids.nl, however Matteo has only been able to recover data from 2nd Jan - leaving us a gap.
I have seen that the channel 1premiere (as it is now known) is available from the tvepg.eu si

[2022-01-07 11:15] Robinmcgvr commented on #98
I thought we loaded Pink2 from extratv.me?

[2022-01-07 11:19] Lynne12 commented on #98
Yes, we do.  You confused me by mentioning on here, when this relates to mojtv channels.

[2022-01-07 11:27] Robinmcgvr commented on #98
Ok I think i was just confirming that we couldn't get it from the new source. So we unfortunately can't use a single source for all channels, which would have been nice

[2022-01-07 11:32] Robinmcgvr opened #120 "Film1.nl - unsuitable loading source"
This source doesn't download properly, the early hours airings (pre 06.30) are allocated to the incorrect day.

Logging here so we know why we don't use it.

[2022-01-07 17:12] Robinmcgvr commented on #98
@Lynne12
mojtv.net-rs data now available to 29/12

[2022-01-07 17:14] Robinmcgvr commented on #98
we  have to 05/01/2022 in kapow, but this has not made it to kablam yet - will chase up if not there by next week

[2022-01-07 17:21] Robinmcgvr commented on #98
re this data, I suppose if we use the mojtv data to the end of 2021 and then start with telegraf.rs thereafter?

[2022-01-10 09:01] Lynne12 commented on #98
@Robinmcgvr I have pulled files, in Atelier, this morning and the following is still missing:-

1-12 December
25-28 December

[2022-01-10 09:15] Lynne12 commented on #98
The following missing dates have been loaded:-

13, 19, 20, 29, 30, 31 December 2021
1-3 January 2022

[2022-01-10 10:08] Robinmcgvr commented on #98
@Lynne12
I am not sure what is going on here, I have pulled 1-12 and 25-28 december for Pink Premium from mojtv.net in Kablam just now

[2022-01-10 10:13] Robinmcgvr commented on #98
Can you try loading that data again please?
If it still doesn't work I will raise with Matteo and Richard
I am able to pull all dates up to 06/01/2022 so there is something else going on here

[2022-01-10 10:17] Lynne12 commented on #98
The dates were not in the files when I pulled them, so it would be pointless me trying to load them again, as unless they have appeared in the last hour they will still not be in the Atelier download.

[2022-01-10 10:18] Robinmcgvr commented on #98
I am looking at the data right now.
I am referring this to Richard and Matteo to sort out.

[2022-01-11 10:18] Lynne12 commented on #115
I have manually scheduled 17th December for Bayern, from tvmovie.de, as this is the channel that will continue in 2022.

[2022-01-12 09:17] Lynne12 commented on #98
6-10 January 2022 missing.

[2022-01-12 10:25] Robinmcgvr commented on #98
Not having any joy getting the issues with this resolved.
I think the best thing is to switch to the new source telegraf.rs immediately and then we don't have to mess about with this data any more.

[2022-01-13 12:45] Robinmcgvr commented on #118
The good news is we have fil1 data from tvepg.eu from 23/12 - 12/01
The bad news - only visible in Kablam from11/01 ?
I don't know what is going on here, I'll see if there is any change tomorrow as sometimes there is a lag in these things

[2022-01-13 13:38] Lynne12 commented on #98
Data is only available on telegraf.rs from 11th January 2022.
Just to confirm is this website switch just for the following channels?:-
PINK FAMILY
PINK PREMIUM
PINK

[2022-01-13 13:49] Lynne12 commented on #98
I've now been able to pull these dates from Kablam and load them.  6-10 January 2022 is still not available in Kablam, but I will keep an eye on this.
Will just wait for the above confirmation and then switch the loading source.

[2022-01-13 14:17] Robinmcgvr commented on #98
OK we have pink premium in kablam from 25/12 to 11/01
I can see and pull this data - so you should be able to use telegraf to load Pink Premium and then don't need to mess about with mojtv.net

Pink Film and Pink were added later as they were not ones we were having problems with , but i thought it would be useful to have them available from telegraf.rs
So from 11/01 onwards data you can potential

[2022-01-13 14:18] Robinmcgvr commented on #98
n.b. to confirm the data for Pink Premium is available via telegraf.rs from 25/12 to 11/01

[2022-01-13 14:29] Robinmcgvr commented on #98
sorry for some reason i had in my mind that it was only Pink Premium you were pulling from moj.
But it was that we already had the alternative source of tv.aladdin.info for Family and Kids, so that was why I was prioritising Premium channel

[2022-01-17 08:46] Lynne12 commented on #98
6-10 January 2022 now loaded from mojtv.net-rs

[2022-01-17 08:47] Lynne12 commented on #98
Loading source now being changed to telegraf.rs

[2022-01-17 08:47] #98 closed, assigned to Lynne12

[2022-01-26 10:00] Lynne12 commented on #115
@Robinmcgvr 19th January 2022 missing.

[2022-01-26 10:21] Robinmcgvr commented on #115
@Lynne12
We'll have to cover this via tvmovie.de I am afraid

[2022-01-28 10:59] Lynne12 commented on #115
Nothing to schedule for Bayn on 19th December, using tvmovie.de.

[2022-02-02 10:02] Lynne12 commented on #115
@Robinmcgvr 26th January 2022 missing.

[2022-02-02 11:35] #119 closed, assigned to Robinmcgvr

[2022-02-02 11:42] Lynne12 commented on #115
I've manually scheduled this from tvmovie.de

[2022-02-02 11:42] #115 closed, assigned to Robinmcgvr

[2022-02-09 13:59] #118 closed, assigned to Robinmcgvr

[2022-02-09 13:59] #120 closed, assigned to nobody

[2022-02-09 14:00] Lynne12 commented on #113
@Robinmcgvr 6th February 2022 missing.

[2022-02-10 08:17] Lynne12 opened #121 "Ireland online scheduling - tvguide.co.uk"
@Robinmcgvr the 4 Irish channels are missing on Kablam from 20th January 2022 onwards:-

RTE1
RTE2
TV3I
TG4

[2022-02-10 10:19] Robinmcgvr commented on #121
@Lynne12
I have referred this to Matteo, it seems the file size of data we grab from this source reduced dramatically after the data failure on the 20th Jan. I'll keep you posted on what he is able to reinstate.
Whilst we can use the Irish sites to fill in this data we obviously want to be able to get as much as we can from tvguide.co.uk as it's such a good source for so many channels

[2022-02-10 11:14] Lynne12 opened #122 "Spain online scheduling - movistarplus.es"
@Robinmcgvr CAPS (#0) is missing from 19th January 2022 onwards.

[2022-02-10 11:23] Robinmcgvr commented on #122
@Lynne12
Good news on this one, the channel has changed on movistar to m+ #0 - which is in kablam from 19/01/2022

[2022-02-10 11:39] Lynne12 commented on #122
Excellent.  I will get it changed on the loader.

[2022-02-10 11:39] #122 closed, assigned to Robinmcgvr

[2022-02-16 15:21] Robinmcgvr commented on #121
Matteo working on this, not sure if we will be able to recover lost data though

[2022-02-16 15:21] #116 closed, assigned to nobody

[2022-02-16 15:21] #70 closed, assigned to Lynne12, Robinmcgvr

[2022-02-18 09:12] Lynne12 opened #123 "Sweden-tv-tabla.se"
@Robinmcgvr data is missing for 8-19 February 2022

[2022-02-18 11:08] Robinmcgvr commented on #123
Thanks this was reported on monday to Matteo, but he obviously hasn't fixed it yet

[2022-02-18 13:21] Lynne12 commented on #121
@Robinmcgvr the following are missing for the week 8-14 February 2022:-

RTE1, RTE2 and TG4 missing 8-12 February
TV3 missing 8-14 February 2022

[2022-02-21 11:27] Robinmcgvr commented on #123
@Lynne12
The downloads are working again but Matteo was unable to recover missing data.
The data we need should be available via viasat.se

[2022-02-21 11:31] Robinmcgvr commented on #121
@Lynne12
We're still missing Virgin Media One data from this source. Not sure if we are going to be able to get that back.
RTE1 and 2 and TG4 are back in the downloads.
We'll have to use rte.ie or entertainment.ie to plug the gaps.
I am going to see if we can add another site to cover the virgin media 1 (TV3) as a back up

[2022-02-24 10:33] Lynne12 commented on #121
@Robinmcgvr Virgin Media One is on entertainment.ie.  I am going to use this for the gap filling for all 4 channels.  Shall I change Virgin Media One permanently to this website?

[2022-02-24 10:44] Lynne12 commented on #121
Data loaded as follows:-

RTE1, RTE2, TG4 - 20 January 2022 - 12 February 2022
TV3 - 20 January 2022 - 21 February 2022

[2022-02-25 08:20] Lynne12 commented on #123
Data loaded, 8-19 February from viasat.se

[2022-02-25 08:20] #123 closed, assigned to Robinmcgvr

[2022-02-25 08:48] Lynne12 opened #124 "Hong Kong - Star Movies HD (SMHD)"
@Robinmcgvr it appears that we have no data loaded for this channel for February 2022.  Can you please confirm which website and channel name this appears as on Kablam please.  I think there has been some confusion with this in the past, so want to make sure I set up the right source.  I had it listed as fng.tw STAR MOVIES HD, from Taiwan, but this source has had no data since September 2021.  We

[2022-02-25 08:52] Lynne12 commented on #124
Not to worry.  I have found it.
dngtw.tw | smithd

[2022-02-25 08:52] #124 closed, assigned to Robinmcgvr

[2022-02-28 10:01] Robinmcgvr opened #125 "TVguide.co.uk Add Channel instructions"
Matteo set up an account on the site as ["kpw@teleworm.us"](mailto:kpw@teleworm.us) and added the channel you requsted to the custom view.

The robot will log in an grab:
- the channels from the default views: popular, freeview, skye, virgin
- the channels from the custom view (now including virgin media one)

The same channel will not be grabbed twice

I think this could be interesting as it lets

[2022-03-03 12:27] Robinmcgvr opened #126 "SWEDEN ALTERNATIVE LOADING SOURCE"
For future reference.
CSF1,2 AND tV100 Are all available via viasat.se

[2022-03-04 17:04] Robinmcgvr opened #127 "PORTUGAL NOS.PT"
We have had a couple of days where only partial data has downloaded from this site.
1) 13/02/2022
2) 01/03/2022

[2022-03-04 17:05] Robinmcgvr commented on #127
I am asking Matteo if he can recover the 1st March but the 13th feb will have to be covered from one of the alternative Kablam sources

[2022-03-04 17:10] Robinmcgvr opened #128 "TVGUIDE.CO.UK"
There are a few days in feb 20200 where we only have the Irish channels from this source.
This was part of a process to reinstate these channels .
All normal after that

[2022-03-05 11:00] Lynne12 commented on #127
13th February is now loaded and will be translated by Branko.

[2022-03-07 09:21] Robinmcgvr commented on #127
1st March data now recovered

[2022-03-07 14:11] Lynne12 commented on #127
@Robinmcgvr thanks.  This can now be closed.  I will be loading 1-7 March data later this week, so the 1st March will be loaded at this time.

[2022-03-07 17:14] Robinmcgvr commented on #127
@Lynne12
There was a problem with the 6th March data, so hold off on loading that week, for a couple of days, until Matteo fixes it.

[2022-03-09 13:22] Lynne12 commented on #127
@Robinmcgvr thanks.  Will wait to get the go ahead.

[2022-03-09 15:57] Robinmcgvr commented on #127
If it doesn't get recovered in time, we can use tv.sapo.pt to fill in the gaps. (better than sic.sapo.pt)
nos.pt site is not in a printable format any more

[2022-03-14 12:47] Robinmcgvr commented on #127
6th march now recovered

[2022-03-14 12:50] Robinmcgvr opened #129 "NZ - VODAFONE-NZ"
Vodafone site has ceased - vodafone tv service has ceased.
We can get Movies Premiere and Three from sky.co.nz - so best to move to this site for data from 08/03/2022
The first day might be a bit weird as there is quite a time difference between the two sources, around 11 hours. But after that it will be ok. We can just delete out any extras on the first day or two.
n.b. channel = 'Premiere Movies

[2022-03-15 10:21] Lynne12 commented on #127
1-7 March loaded.

[2022-03-15 10:21] #127 closed, assigned to nobody

[2022-03-15 11:59] Lynne12 commented on #129
Richard has been asked to set up the new loading website.

[2022-03-16 08:46] Lynne12 opened #130 "Spain-movistarplus.es"
@Robinmcgvr the above website is missing for the week 8-14 March 2022.  This is used for CAPS  and was previously listed as M+ #0

[2022-03-16 10:06] Robinmcgvr commented on #130
yes thanks I am aware and it was reported to Matteo.
I had thought, incorrectly that we had dropped the channel, which is why i didn't report to you.

[2022-03-16 10:09] Robinmcgvr commented on #130
If you don't want to wait for Matteo to set up a new robot for the changed URL (why it's failing) you can use elmundo.es

[2022-03-16 10:14] Lynne12 commented on #130
If it is something that will be sorted I will wait.  It is more work to change websites.

[2022-03-21 10:01] Robinmcgvr commented on #130
Matteo has recovered some of the data , but we are still missing 11-14 th
I am just waiting for him to confirm that he has recovered as much as he could. The website is not allowing me to see data prior to the 14th any more

[2022-03-21 10:03] Robinmcgvr commented on #130
Would we be able to get Branko or Jelena to manually schedule the missing bits (once we have confirmation that they can't be recovered) using the elmundo.es?
That way you don't have to mess about with separate loading source for those few days>

[2022-03-21 10:17] Lynne12 commented on #130
I am loading 8th - 10th now and will wait for Matteo's response before working out the gap filling.

[2022-03-21 14:45] Robinmcgvr opened #131 "Showcase.ca"
Downloads for showcase.ca have temporarily stopped, i have Matteo looking into it, but as this affects OPR potentially we currently have a gap 17/03 - 21/03, which could get worse, letting you know

[2022-03-21 14:46] Robinmcgvr opened #132 "tvgids.nl"
We are currently unable to access a guide on this site.
Since 08/03 - this one might not come back

[2022-03-21 14:47] Robinmcgvr opened #133 "smotrim.ru"
We are unable to access this site at the moment, get a code 404
This affects data for channel Friday.
I have asked Matteo to add to the vsetv.ru downloads going forwards

[2022-03-23 09:53] Robinmcgvr commented on #131
@GoodallE
This data has now been recovered!

[2022-03-23 09:54] Robinmcgvr commented on #133
Friday (Пятница) now available from vsetv.com

[2022-03-23 14:02] Lynne12 opened #134 "Ireland - tvguide.co.uk (UK)"
@Robinmcgvr RTE 1 is missing 15, 16, 17, 18, 19, 21 March.

[2022-03-23 14:22] Robinmcgvr commented on #134
ok this is more of #128 issue

[2022-03-23 14:23] Robinmcgvr commented on #134
tvguide has changed the way it displays/arranges the channels.
Matteo thought he had fixed this, but seems he hasn't , I'll refer back to him

[2022-03-23 14:31] Robinmcgvr commented on #134
n.b. 01/03 seems to be missing too

[2022-03-23 14:38] Robinmcgvr commented on #134
what did you do about Feb data?
Kablam is showing me 1-12th Feb missing

[2022-03-23 14:48] Robinmcgvr commented on #134
Matteo showed me how to add or remove channels to our preferences from this source, so I have removed some we don't need and added RTE One HD to increase our chances of getting the channel . I will see if this changes anything tomorrow.

[2022-03-24 13:17] Lynne12 commented on #134
It's not missing in Studio.

[2022-03-24 13:22] Robinmcgvr commented on #134
yeah sorry ignore that

[2022-03-25 12:48] Robinmcgvr commented on #134
OK we seem to be picking up the channel again - so that's the good news
Unfortunately the gaps haven't been filled yet - I did email Matteo about it, so hopefully he will be able to sort it.

[2022-03-28 09:27] Robinmcgvr commented on #134
@Lynne12
We are not going to be able to recover the Irish RTE1 data for 15-19 & 21 st March
There is another gap in data for the 23rd and 26th .
It seems the only way to get the downloads to behave is to drop quite a lot of the unnecessary channels that we pull at the moment.
So that is what we are going to do.
Think you will have to load the latter half of march from RTE site unfortunately.

[2022-04-01 10:42] Lynne12 commented on #134
For reference the following dates are missing RTE1
March
15-19, 21, 23, 25, 26, 28

[2022-04-01 10:54] Lynne12 commented on #134
These missing dates have been loaded from rte.ie.  @Robinmcgvr can you let me know when I can use tvguide.co.uk again, please.

[2022-04-01 10:56] Lynne12 commented on #130
@Robinmcgvr is there an update from Matteo on this?

[2022-04-01 11:17] Robinmcgvr commented on #134
I'll try and let you know when it is behaving properly again
I can see that for most of the days you were reporting missing data we have it for RTE One HD
So maybe next time try that version of the channel ? as we seem to be having more success with that one.

n.b. I think there may have been problems with this for longer than we have realised because when I do my quarterly checking , I am frequen

[2022-04-01 11:21] Lynne12 commented on #134
I had checked the HD and there were still missing dates on there too, so not worth switching if they both have issues.

[2022-04-01 11:24] Robinmcgvr commented on #134
HD is looking more consistent to me - I would recommend you try it over the other version - give me a heads up before you next attempt to load and I will look at the data.

[2022-04-01 11:31] Robinmcgvr commented on #134
We've also got some Virgin Media 1 missing (TV3)

[2022-04-01 16:38] Robinmcgvr commented on #130
15-22 march still missing and not going to be possible to recover

[2022-04-04 12:22] Lynne12 commented on #130
@Robinmcgvr 15-22 March has never been missing.  The date range missing was 11-14 March, but this now appears on Kablam and has been loaded.

[2022-04-04 12:22] #130 closed, assigned to Robinmcgvr

[2022-04-05 08:38] Robinmcgvr opened #135 "Austria"
Data for 27/03/2022 is only partial, there was a partial, failure on that day but data was not able to be recovered.
This affects all channels.
The gaps will need manual scheduling unfortunately.

[2022-04-07 09:48] Lynne12 opened #136 "Switzerland - blue.ch"
@Robinmcgvr TELECLUB is missing 31st March - 4 April 2022

[2022-04-07 10:19] Robinmcgvr commented on #136
@LYNNE
Hi It seems the channel has ceased, none of our sources are carrying it any more.
i can;t find any information about the channel ceasing or rebranding at this point.
We may replace it with one of the other Blue channels , but for the moment we have no teleclub (TBZ/Blue Prime/Teleclub Prime)

[2022-04-11 11:03] Lynne12 commented on #134
Loading source changed to the HD version of the channel.

[2022-04-12 12:20] Lynne12 commented on #135
@Robinmcgvr gaps manually scheduled.

[2022-04-12 12:22] #135 closed, assigned to Lynne12

[2022-04-22 08:05] #121 closed, assigned to Robinmcgvr

[2022-04-22 08:06] #113 closed, assigned to Robinmcgvr

[2022-04-22 16:06] Robinmcgvr opened #137 "South Afirca - guide.dstv.com"
We lost data for South African site guide.dstv.com for 12/04 - 21/04
It's back now, but there is a gap for that period

[2022-04-22 16:08] GoodallE commented on #137
On 2022-04-22 17:06, Robinmcgvr wrote:

OK Robin great thanks for letting me know hopefully we will be able to
use another source or establish a pattern with the eps.

Emma

[2022-05-09 10:12] Lynne12 opened #138 "Croatia-rtl.hr"
@Robinmcgvr  Data missing 1st & 2nd May

[2022-05-09 10:12] Lynne12 opened #139 "Romania-pro2.ro"
@Robinmcgvr data missing 2nd May

[2022-05-09 11:00] Robinmcgvr commented on #138
Thanks Lynne, this was reported to Matteo last week
We are actually missing all data post 1st may - the format of the tv guide on the site has changed.
I will see if Matteo is still able to work with this.

[2022-05-09 11:04] Robinmcgvr commented on #139
Thanks Lynne, we are unable to recover this day, it was reported last week,
Data is available via tvepg.eu.ro - it can be manually scheduled from the kablam data

[2022-05-09 11:06] Robinmcgvr commented on #138
If we can't fix this we can use the data from tvprofil.com
I will see what Matteo can do.
It looks though from the site that we won't be able to back date this data.

[2022-05-09 16:38] Robinmcgvr commented on #138
Matteo reckons he will be able to get this one going again, will confirm once I see some new data
BUT we will not be able to recover the lost data

[2022-05-12 06:30] Lynne12 commented on #138
@Robinmcgvr data starts again from 9th May, so missing date range is 1-8 May.

[2022-05-13 10:50] Lynne12 commented on #139
2nd May manually scheduled, as above.

[2022-05-13 10:50] #139 closed, assigned to Robinmcgvr

[2022-05-13 11:06] Lynne12 commented on #138
I have asked Richard to set up tvprofil.com, so that I can load the gap in the data for the two channels.

[2022-05-16 08:10] Lynne12 commented on #138
1-8 May loaded from tvprofil.com

[2022-05-17 06:46] Lynne12 commented on #136
@Robinmcgvr is there any further update on whether this will be replaced?

[2022-05-17 09:20] Robinmcgvr commented on #136
@Lynne12 No not at this point

[2022-05-17 09:24] Lynne12 commented on #136
Will close this then and a new issue can be raised if we add a replacement channel.

[2022-05-17 09:24] #136 closed, assigned to Robinmcgvr

[2022-05-18 07:07] #134 closed, assigned to Robinmcgvr

[2022-05-18 07:08] Lynne12 opened #140 "Czech - axn.cz"
@Robinmcgvr missing 14-16 May

[2022-05-18 07:08] Lynne12 opened #141 "Hong Kong - tvb.com"
@Robinmcgvr missing 13th May

[2022-05-18 08:46] Robinmcgvr commented on #140
@Lynne12
yes it has been reported to Matteo yesterday, it's affecting all the AXN northern europes, don't think we'll be able to get the 14th any more and poss 15th will be unrecoverable too

[2022-05-18 08:49] Robinmcgvr commented on #141
@Lynne12
This one slipped between the two checking periods ie friday and tuesday , we can't go back on this site

[2022-05-18 09:01] Lynne12 commented on #141
Shall I mark this as permanently missing, or is there an alternate source?

[2022-05-18 09:09] Robinmcgvr commented on #141
Actually it's still available on the site, got mixed up, have just sent it to print now in case Matteo is unable to recover it.

[2022-05-23 10:43] Robinmcgvr commented on #141
@Lynne12
13/05/2022 now recovered

[2022-05-23 10:47] Lynne12 commented on #141
Data loaded

[2022-05-23 10:47] #141 closed, assigned to Robinmcgvr

[2022-05-23 11:42] Robinmcgvr commented on #140
This is now mostly recovered, 14th only partial, the rest is there

[2022-05-23 11:43] #137 closed, assigned to GoodallE, Ma-rco

[2022-05-23 11:46] Robinmcgvr opened #142 "PATHFINDER.GR"
We are having trouble with site pathfinder. gr - it's blocking us.
Matteo is looking at work arounds
I have this down as being an OPR site - and it may be one that is referred to for info for inputting/checking etc

[2022-05-23 11:51] Robinmcgvr opened #143 "Sites that are blocking us"
We have a growing list of sites that are blocking us:
pathfinder.gr
itv.com
sky.de

Matteo has work arounds for these, well he's trying to find one for pathfinder.gr
He has to do extra work to deal with these, so letting you know.

[2022-05-23 12:13] GoodallE commented on #142
On 2022-05-23 12:46, Robinmcgvr wrote:

Yes it is one that we use hopefully it can be picked up again ;)

[2022-05-23 13:12] Lynne12 commented on #140
Data loaded

[2022-05-23 13:12] #140 closed, assigned to Robinmcgvr

[2022-05-30 10:27] Robinmcgvr opened #144 "m-net.dstv.com"
there is a problem with site m-net.dstv.com currently.
There has been no download since 23/05 - there is only data from 27/05 onwards still available on the site.
Can you confirm which channel(s) you use this data for?
I can't get anything earlier than today to print, but there is data back to 27th available on the site.
I don't know if you want to take note of the ep details given while we see if

[2022-05-30 12:02] GoodallE commented on #144
On 2022-05-30 11:27, Robinmcgvr wrote:

Hi Robin

We use this for :

MNET

ME

But I think we will be ok and can source the missing dates from other
sites. I will take note of these though just incase.

Thanks

Emma

[2022-05-30 12:06] GoodallE commented on #144
On 2022-05-30 11:27, Robinmcgvr wrote:

Just checked other sites and we have nothing for those channels, i'm
sure i can work around this though. But would be good to get it back if
we can.

Thanks

Emma

[2022-06-01 09:21] Robinmcgvr commented on #144
Hi,
Matteo has managed to fix and restore data from this site now. ME and MNET aren't showing in kablam yet as this was only downloaded yesterday, but it is there in Kapow.
Hopefully it will be accessible in Kablam in next day or two.

[2022-06-01 09:25] Robinmcgvr commented on #142
Matteo has restored the data for this site now

[2022-06-01 10:35] GoodallE commented on #144
On 2022-06-01 10:21, Robinmcgvr wrote:

That's fantastic! thank you ;)

[2022-06-01 10:35] GoodallE commented on #142
On 2022-06-01 10:25, Robinmcgvr wrote:

Brilliant! Thanks Robin ;)

[2022-06-06 11:22] #144 closed, assigned to GoodallE

[2022-06-06 11:23] Robinmcgvr opened #145 "ceskatelevize.cz"
we are missing data for 1-6 June - It has been reported to Matteo.

[2022-06-06 11:24] Robinmcgvr opened #146 "teleman.pl"
We are missing data for 1-6 June, it has been reported to Matteo

[2022-06-06 11:25] Robinmcgvr opened #147 "guide.dstv.com"
We are missing data for 03/06 - hopefully this can be recovered

[2022-06-06 11:28] Lynne12 commented on #145
@Robinmcgvr thanks Robin. I don't use this site for loading.

[2022-06-13 13:42] Robinmcgvr commented on #147
This is recovered now

[2022-06-13 13:42] #147 closed, assigned to GoodallE

[2022-06-13 13:43] Robinmcgvr commented on #145
Data recovered

[2022-06-13 13:43] #145 closed, assigned to GoodallE

[2022-06-13 13:43] Robinmcgvr commented on #146
!-6 June recovered - 9-11 Still missing

[2022-06-20 09:54] Lynne12 opened #148 "Hong Kong - tvb.com"
@Robinmcgvr 11th June is missing.

[2022-06-20 10:00] Robinmcgvr commented on #148
Ok thanks Lynne, that is annoying it always manages to do that on the overlap days, hence why it seems to get missed more than others!
I don't think we will be able to recover it now, but I'll ask Matteo to try.

[2022-06-20 14:48] Robinmcgvr opened #149 "truter.org"
We are currently missing data from 6-19 June
I have managed to save a pdf of the schedule for 17-22 June
Matteo is working to see what he is able to recover.

[2022-06-20 14:49] Robinmcgvr opened #150 "wnetwork.com"
We are missing data from 15-19 June
i have saved pdfs of data from 15th to 20th as a back up if we are unable to recover the data

[2022-06-20 14:51] Robinmcgvr opened #151 "primatv.ro"
19/06 is missing - unlikely we will be able to recover this one.

[2022-06-24 15:58] Robinmcgvr commented on #151
site working again but day lost

[2022-06-24 15:58] #151 closed, assigned to GoodallE, Ma-rco

[2022-06-24 15:59] Robinmcgvr commented on #150
Matteo is having to make a work around on this as the site is blocking our robot
I have saved more pdfs up to the 27th , let me know if/when you need these

[2022-06-24 16:01] Robinmcgvr commented on #149
data avaialble again from 21/06 - but 6-20th lost

[2022-06-24 16:03] Robinmcgvr commented on #148
11/06/2022 recovered

[2022-06-24 16:07] Robinmcgvr commented on #146
Data recovered

[2022-06-24 16:07] #146 closed, assigned to GoodallE

[2022-06-24 16:07] Robinmcgvr commented on #143
Canada - wnetwork

[2022-06-27 09:11] Lynne12 commented on #148
@Robinmcgvr this needs to remain open until I load the data, otherwise it will get missed.

[2022-06-27 12:54] Lynne12 commented on #148
Data loaded

[2022-06-27 12:54] #148 closed, assigned to Robinmcgvr

[2022-07-07 10:00] Robinmcgvr commented on #150
Matteo thinks he's fixed this now - I do have pdfs up to 5th July

[2022-07-07 10:07] Robinmcgvr opened #152 "foxtv.it"
We are unable to access data from site foxtv.it any more
If you know of another source for the data that we don't currently download, please let me know

[2022-07-07 10:16] GoodallE commented on #152
On 2022-07-07 11:07, Robinmcgvr wrote:

We were downloading it from sky.it on the +1 channel but that looks like
it had stopped on the 30/6 all other sites don't seem to download it
either. I don't have another source but when I get a chance I will see
if I can find one.

[2022-07-07 10:17] Robinmcgvr commented on #152
hmm maybe the channel has ceased as has happened with some of the other Fox channels.
I will have a look

[2022-07-07 10:18] Robinmcgvr commented on #152
Yes channel ceased 30/06/2022

[2022-07-07 10:26] Lynne12 commented on #152
@JonathanETS are you aware of this?  I can't assign Brenda in this issue for some reason.

[2022-07-07 10:28] Robinmcgvr commented on #152
that's because she is not part of this group

[2022-07-07 10:35] JonathanETS commented on #152
Ok that's fine. Channel **Fox** ceased broadcasting...   so we process it through to June 30th and that's it.  I've posted on ETS Issues.  Thanks.

[2022-07-07 10:35] #152 closed, assigned to Lynne12, JonathanETS, GoodallE, Ma-rco

[2022-07-11 08:49] Robinmcgvr opened #153 "Belgium - mijn-tv.gids , mon-programme-tv.be,"
There are issues with data from these sources - plus the french site programme-tv.com
These are all related sites.
Matteo says he has recovered data from the 29/06/2022 onwards and that there is only partial data for 4 July.
However none of this is showing up in Kapow files yet.
He is away this week, so I am not sure when this data will be fully restored by.

[2022-07-25 11:23] Robinmcgvr commented on #153
30/06 - 11/07 lost for these sites unfortunately

[2022-07-28 08:32] Lynne12 opened #154 "Czech - axn.cz"
@Robinmcgvr 19th July is missing.

[2022-07-28 08:32] Lynne12 opened #155 "Hong Kong - tvb.com"
@Robinmcgvr 23rd July is missing.

[2022-07-29 13:57] Robinmcgvr commented on #154
Sorry, we'll have to use the data from centrum.cz to fill that gap.

[2022-07-29 14:22] Robinmcgvr commented on #155
I've saved a pdf of that day if Matteo can't recover it

n.b. does 23/07 need manually scheduling?

[2022-07-29 14:37] Robinmcgvr opened #156 "Norway - tvguide.vg.no"
18/07/2022 Data missing

[2022-08-01 16:47] Robinmcgvr opened #157 "Australia - Ourguide"
We're missing 29th and 30th July for this site.
I am not sure if we'll be able to recover
We should be able to cover the data from yourtv, but the regional files are only available in kapow rather than Kablam.
I will try and put this data together using catkapow tool.

[2022-08-01 16:48] Robinmcgvr opened #158 "Poland - programtv.interia.pl"
We are missing data for the 27-29th July. looks like we won't be able to recover as was reported last week and data not appeared.
It carries on ok from 30th

[2022-08-02 09:26] GoodallE commented on #157
On 2022-08-01 17:47, Robinmcgvr wrote:

OK thank you we should be ok for episodes in Australia they usually come
in on the data.

[2022-08-02 09:26] GoodallE commented on #158
On 2022-08-01 17:49, Robinmcgvr wrote:

ok thank you Robin no problem, we can use other sources for these dates.

[2022-08-04 10:31] Robinmcgvr commented on #157
@Lynne12
I've put together a file of the required channels for Aus scheduling from what was available in downloads.
They'll  have to be added manually - I am emailing them over

[2022-08-05 09:51] Lynne12 commented on #154
@Robinmcgvr there is nothing on centrum.cz for 19th either.

[2022-08-05 10:00] Robinmcgvr commented on #154
Ok then we'll have to refer to the tvepg.eu site
https://tvepg.eu/en/czechia/channel/axn/2022-07-19
It will  have to be done manually unfortunately.
I will save a pdf of the page now, in case it's not still available next week to print

[2022-08-05 10:04] Lynne12 commented on #157
@Robinmcgvr I can't really work with this file.  The first channel I have looked at GWN7 has overlapping programmes.

[2022-08-05 10:08] Robinmcgvr commented on #154
yes you can access the webpage online

[2022-08-05 10:27] Lynne12 commented on #154
19th July manually scheduled.

[2022-08-05 10:27] #154 closed, assigned to Robinmcgvr

[2022-08-05 15:43] Robinmcgvr opened #159 "GREECE maktv.gr"
There are no listings on the site itself post 31/07/2022 currently.
Hopefully they will update it soon.

[2022-08-22 10:58] Robinmcgvr commented on #159
Still no guide for this site

[2022-08-26 07:13] Lynne12 opened #160 "Switzerland - 3plus.tv"
@Robinmcgvr data is missing for 17th August 2022.

[2022-08-26 08:51] Robinmcgvr commented on #160
Thanks, the day is not actually missing , but most of the data is. Seems to be still available on the site, so hopefully Matteo can fix this day - if  not we do have back up data on upctv.ch

[2022-08-30 09:27] Robinmcgvr commented on #160
Data is now recovered

[2022-08-30 09:39] Lynne12 commented on #160
Data loaded.

[2022-08-30 09:39] #160 closed, assigned to Robinmcgvr

[2022-09-06 11:08] Robinmcgvr commented on #155
@Lynne12
04/09/2022 missing - again i saved a pdf if we can't recover it (but we should be able to)

[2022-09-06 12:12] Robinmcgvr opened #161 "Hungary - mediaklikk.hu"
Hi we are currenlty missing data for 31/08 - 04/09 from this site.
I am hoping Matteo can recover it.
I will let you know

[2022-09-06 13:03] Ma-rco commented on #159
Thats a shame - thats for letting us know!

[2022-09-08 11:36] Robinmcgvr commented on #155
23/07/2022 now been manually scheduled

[2022-09-20 16:02] Robinmcgvr commented on #155
04/09 missing - I have saved a pdf for manual scheduling

THIS HAS NOW BEEN MANUALLY SCHEDULED FROM PDF

[2022-09-20 16:05] Robinmcgvr opened #162 "South Africa - guide.dstv.com"
We are missing 16/09 - 19/09 - this is not going to be recoverable I am afraid.
Hopefully we can get it restarted

[2022-09-20 16:26] Robinmcgvr opened #163 "Brazil - warnerchannel.com"
Data from this site stopped downloading on the 18th Sept
I have managed to save pdfs for 20th and 21 st via https://www.tvmagazine.com.br/programacao/warner-channel/WBT/21/09/2022
Unfortunately I can't go back and only forwards by one day, this source gives good ep info.
We might be able to get more data by setting up an account and logging in.
In the meantime I will see if Matteo is able to grab

[2022-09-21 06:15] Lynne12 commented on #155
@Robinmcgvr this is the same message as 15 days ago.  Is that correct?

[2022-09-21 08:38] Robinmcgvr commented on #155
yes , I didn't see my earlier message when I looked here and confirming that we were not able to recover the data

[2022-09-22 10:16] Robinmcgvr commented on #91
Site working but there is a lag of about 10 days on data as Matteo has to give this one special treatment

[2022-09-23 15:58] Robinmcgvr opened #164 "GREECE - megatv.com"
We are currently missing data for megatv.com from 21/09 onwards.
I have saved pdfs up to 25/09
Hopefully though we will be able to recover the data.
N.B. for ref these pdfs can be found in Export/Kapow/Missing Kapow data

[2022-09-23 16:23] Robinmcgvr commented on #162
Site restarted from 20/09

[2022-09-26 08:33] Robinmcgvr commented on #164
This data has now been recovered

[2022-09-26 08:33] #164 closed, assigned to GoodallE, Ma-rco

[2022-09-26 08:34] Robinmcgvr commented on #163
Data has now been recovered

[2022-09-26 08:34] Robinmcgvr commented on #162
Matteo is working on recovering this data

[2022-09-26 08:38] Robinmcgvr commented on #161
This data has not been recovered unfortunately

[2022-09-26 12:20] Lynne12 opened #165 "Romania - Pro X"
@Robinmcgvr Pro X changed it's name, back in April, to Pro Arena.  This does not now appear on any of our Kablam sources.  Would you be able to get Matteo to add this please, to any of the applicable sources.  Many thanks.

[2022-09-26 13:26] Robinmcgvr commented on #165
I'll see what we can do, find which sites carry it etc, and pass the info on to Matteo

[2022-09-26 13:27] Robinmcgvr commented on #165
we do have the channel in the tvepg.eu.ro downloads, no synopsis info though.

[2022-10-03 09:10] Robinmcgvr commented on #165
We have recovered the data for this channel back as far as August at this point, Matteo says he can go further so I may as well get to him to go as far as he can to help with the checking

[2022-10-10 16:50] Robinmcgvr commented on #165
Matteo has managed to update data for Pro Arena back to Feb 2021 - this may be more useful for checkers than inputters - but it's helpful

[2022-10-10 16:53] #165 closed, assigned to Robinmcgvr

[2022-10-26 12:09] Lynne12 commented on #155
@Robinmcgvr 24th October is missing.

[2022-10-26 13:22] Robinmcgvr commented on #155
OK thanks, sods law it was up to date on 24th when I checked, due to the time these files download. I'll ask Matteo to see if he can get it or I'll make a pdf.

PDF SAVED

[2022-11-02 13:07] Lynne12 commented on #155
@Robinmcgvr the following dates are missing:-

27 October
30 October

[2022-11-02 13:08] Lynne12 commented on #138
@Robinmcgvr 31 October is missing

[2022-11-02 13:08] Lynne12 commented on #44
@Robinmcgvr 31 October is missing.

[2022-11-02 14:09] Robinmcgvr commented on #155
Reported to Matteo and pdfs saved - I can email these to Jelena for manual scheduling if Matteo is unable to recover the data (he should be able to)

[2022-11-02 14:09] Robinmcgvr commented on #44
reported to Matteo

[2022-11-02 14:10] Robinmcgvr commented on #138
reported to Matteo

[2022-11-02 14:25] Robinmcgvr commented on #138
I have saved pdfs of data for channels RTL, Nova, HTV1 and HTV2 for 01/11 & 02/11/2022 - in case Matteo is unable to recover.
I am unable to get data for 31/10 , so not sure if Matteo will be able to.
But fingers crossed

[2022-11-02 14:40] Robinmcgvr opened #166 "Denmark - tvepg.eu.dk"
13 October downloads missing and not-recoverable

[2022-11-02 14:42] Robinmcgvr opened #167 "Romania - primatv.ro"
15 October missing and not recoverable

[2022-11-02 16:28] Robinmcgvr commented on #166
btw in case you aren't already aware, one can get quite good Denmark info via Norway/se.no in kapow
Not in format to map into Atelier sadly but quite good ref.

[2022-11-03 06:47] GoodallE commented on #166
On 2022-11-02 16:28, Robinmcgvr wrote:

Thanks Robin yes we also use tv.nu aswell.

[2022-11-09 10:28] Lynne12 commented on #155
@Robinmcgvr 3rd November missing.

[2022-11-09 11:47] Robinmcgvr commented on #155
Thanks I saved the pdf for this day

[2022-11-14 17:19] Robinmcgvr commented on #155
13th November missing.
Matteo alerted, I have asked if there is anything he can do as we seem to be losing a day a week now.
I have saved the pdf again.

[2022-11-16 09:07] Lynne12 commented on #44
@Robinmcgvr 10-12 November missing.

[2022-11-16 10:13] Robinmcgvr commented on #44
yes this is known about and has been reported, I'll let you know if it gets recovered or not

[2022-11-21 15:01] Robinmcgvr commented on #44
@Lynne12
Matteo has recovered the data

[2022-11-22 13:14] Lynne12 commented on #44
@Robinmcgvr Kablam only has data up to 10th November.

[2022-11-22 14:12] Robinmcgvr commented on #44
it's definitely in kapow, hopefully kablam will update tomorrow as it was downloaded sunday

[2022-11-23 10:56] Lynne12 commented on #44
@Robinmcgvr there is still no update today.  Not sure if it is relevant but the channel names have changed on Kablam from:-

ETS Channel- HTV 1 (HTV1) Kablam: Croatia tvhr.net-**hrt1**
 ETS Channel - HTV 2 (HTV2) Kablam: Croatia tvhr.net-**hrt2**
To:
ETS Channel-HTV 1 (HTV1) KABLAM: Croatia tvhr.net **HTV1**
ETS Channel-HTV 2 (HTV2) KABLAM: Croatia tvhr.net **HTV2**

[2022-11-23 10:59] Robinmcgvr commented on #44
Hmm in theory that shouldn't make a difference, because whatever is in the kapow file should appear in kablam, I don't have to inform Richard to get new channels into Kablam data, so there must be another problem here .
I'll have to refer to Matteo and Richard

[2022-11-23 11:06] Robinmcgvr commented on #44
Sorry I didn't quite understand what you meant when I first read your message. So the data is actually there in kablam just with new channel names, so your problem now is that you are unable to load the data, not that it is missing - so yes that would probably explain why you are having problems and the loading settings will have to be changed I reckon

[2022-11-23 11:16] Lynne12 commented on #44
No, sorry.  The data is not there in Kablam, but I wasn't sure if Matteo had to make a connection with the Kapow data channel name and the Kablam channel name.
I have loaded 31 October - 9 November, as those dates were there and Richard amended the channel names for the loader.  Only the early hours are there for 10th November and then nothing going forwards, so I have been unable to load any more

[2022-11-23 11:20] Robinmcgvr commented on #44
Call up the dates under hrt1 and you will see that the data is there
[tvhr.net_20221110_20221120_hrt1 (1).csv](https://github.com/Robinmcgvr/Kapow-Data/files/10074936/tvhr.net_20221110_20221120_hrt1.1.csv)

[2022-11-23 11:21] Robinmcgvr commented on #44
Why it changed to HTV1 for those ten days I do not know - I have raised with Matteo to see if he can do anything about it

[2022-11-23 11:25] Robinmcgvr commented on #44
hrt1 is how it presents on the website itself

[2022-11-23 11:33] Lynne12 commented on #44
Thanks Robin!  What a pain :(  I will get Richard to change them back, now that I have loaded the gap.

[2022-11-23 12:12] #44 closed, assigned to Robinmcgvr

[2022-11-24 08:41] Lynne12 opened #168 "Sweden-viasat.se"
@Robinmcgvr data missing for 15th & 16th November.

[2022-11-24 10:21] Robinmcgvr commented on #168
OK I have asked Matteo to recover and have downloaded some back up pdfs as a back up from source tv.nu
I noticed that we are no longer getting these channels from tv.nu so have also asked if we can reinstate them for back up source purposes

[2022-11-28 12:11] Robinmcgvr commented on #168
Data has been recovered

[2022-11-28 12:13] Robinmcgvr commented on #150
HI Guys we are having trouble with the site wnetwork.com - Matteo is doing some work arounds to try and accomodate it but it is being problematic
15-20 Nov looks lost at this point

[2022-11-29 13:09] Lynne12 commented on #168
Missing data loaded

[2022-11-29 13:09] #168 closed, assigned to Robinmcgvr

[2022-11-30 09:51] Lynne12 opened #169 "Portugal: nos.pt"
@Robinmcgvr Kablam is missing 28th November.

[2022-11-30 09:57] Robinmcgvr commented on #169
OK thanks for letting me know, this wouldn't have been picked up til friday as the data loads in the evening of the day.
I will see if we can get it recovered